{% extends 'index.html' %}
{% block section %}
    <img style="width: 100%; height: auto;" src="static/fotos/fotos_inicio/cardio1.jpeg" alt="">

    <br>
    <br>
    <div class="derechoDeberes row">
        <div class="col-md-4 col-sm-12 col-lg-7">
            <div class="titulosderechoDeberes d-flex justify-content-center">
                <span style="color: #85868a; ">UNIDAD DE <span style="color: #8ac64b;">CARDIOLOGÍA</span></span>
            </div>
            <div><p><i class="bi bi-check2-square"></i> Consulta especializada. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Ecocardiograma. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Ecocardiograma  transesofágico. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Ecocardiograma  farmacológico </p></div>
            <div><p><i class="bi bi-check2-square"></i> Ecocardiograma  transtorácico </p></div>
            <div><p><i class="bi bi-check2-square"></i> Prueba de esfuerzo. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Holter. </p></div>

        </div> 

        <div class="col-md-4 col-sm-12 col-lg-5 d-flex justify-content-center">
            
            <div class="menu" style="width: 100%; font-size: 13px;">
                <div class="nav-item dropdown">
                    <a class="nav-link active"><img src="static/fotos/fotos_inicio/servicios1.png" alt=""></a>
                    <div class="dropdown-content" style="left: 150px; margin-top: -35px;">
                        <a class="nav-link" href="/salaCirugia">UNIDAD DE CIRUGÍA</a>
                        <a class="nav-link" href="/neuroCirugia">UNIDAD DE NEUROCIRUGÍA</a>
                        <a class="nav-link" href="/hospitalizacionGeneral">HOSPITALIZACIÓN GENERAL</a>
                        <a class="nav-link" href="/urgencia">URGENCIAS</a>
                        <a class="nav-link" href="/hemodinamia">UNIDAD DE HEMODINAMIA</a>
                        <a class="nav-link" href="/ginecologia">UNIDAD DE GINECOLOGÍA Y OBSTETRICIA</a>
                        <a class="nav-link" href="/cardiologia">UNIDAD DE CARDIOLOGÍA</a>
                        <a class="nav-link" href="/hospiCasa">PROGRAMA HOSPITALIZACIÓN EN CASA</a>
                        <a class="nav-link" href="/gastroenterologia">UNIDAD DE GASTROENTEROLOGÍA</a>
                        <a class="nav-link" href="#">LABORATORIO CLÍNICO Y ESPECIALIZADO</a>
                        <a class="nav-link" href="#">UNIDAD DE IMAGENOLOGÍA Y RESONANCIA</a>
                        <a class="nav-link" href="#">OTROS SERVICIOS</a>
                        <a class="nav-link" href="#">UNIDAD DE CUIDADOS INTENSIVOS</a>
                        <a class="nav-link" href="/consultaExterna">CONSULTA EXTERNA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}