{% extends 'index.html' %}
{% block section %}
    <div class="derechoDeberes row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="titulosderechoDeberes d-flex justify-content-center" >
                <span style="color: #85868a; ">UNIDAD <span style="color: #8ac64b;">CARDIOVASCULAR </span></span>
            </div>

            <div class="d-flex justify-content-center" style="padding-left: 10%; padding-right: 10%;" >
                <iframe width="80%" height="500px" src="https://www.youtube.com/embed/ZYMu1iCAPH8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <br>

            <p>Clínica Uros pensando en el bienestar de los usuarios y sus familias,  ofrece al servicio de la región Surcolombiana y del país la nueva Unidad de Cirugía Cardiovascular, un servicio de esta institución hospitalaria que cuenta con el más calificado equipo humano y la más alta tecnología al nivel de las mejores de Colombia.</p>

            <img style="width: 80%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/cardiovascular1.jpg" alt="">

            <br>
            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">TERAPÉUTICO</span>
            </div>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Revascularización miocárdica con y sin bomba </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cirugía Valvular convencional y mínimamente invasiva </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cirugía de reparo valvular mitral y aórtico </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cirugía compleja de aorta </p></div>
                <div><p><i class="bi bi-circle-fill"></i> ECMO – Soporte circulatorio extra corpóreo </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cirugía mínimamente invasiva en 3D </p></div>
            </div>
            
            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">QUIRÓFANO COMPLETAMENTE DOTADO</span>
            </div>

            <img style="width: 80%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/cardiovascular2.jpg" alt="">

            <br>
            <br>

            <p> La unidad de cirugía cardiovascular de Clínica Uros cuenta con equipos de última generación de tecnología alemana y americana para cirugía mínimamente invasiva en pacientes adultos, pediátricos y neonatales, que la convierten en una de las más modernas del país y una de las pocas en Latinoamérica que cuentan con estos equipos que permiten realizar técnicas quirúrgicas avanzadas, garantizando además para las entidades aseguradoras, un 30% en disminución de costos en este tipo de procedimientos de alta complejidad.</p>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">Contamos con tecnología de vanguardia con:</span>
            </div>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Equipos de video en 3D </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Medidor de flujo coronario </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Sistema VITOM 2D para grabación de procedimientos en alta definición </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Videolaringoscopio C/MAC </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Videoscopio para extracción de safena para puentes coronarios </p></div>
                <div><p><i class="bi bi-circle-fill"></i> 4 Pantallas de alta definición, una de ellas 3D </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Instrumental específico para mínimamente invasiva </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Sistema de autotransfusión de última tecnología </p></div>
            </div>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">UNIDAD DE CUIDADO INTENSIVO CARDIOVASCULAR</span>
            </div>

            <img style="width: 80%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/unidadcardio.jpg" alt="">

            <br>
            <br>

            <p> La Unidad de Cuidado intensivo Cardiovascular cuenta con cubículos exclusivos para el cuidado de pacientes con afecciones cardiovasculares, con equipos de monitoria de última generación para el mejor control de parámetros ventilatorios y es la única en la región con unidades especializadas para soporte extracorpóreo (ECMO) que permitirán la asistencia a pacientes con problemas severos tanto pulmonares como cardiovasculares, ofreciendo una nueva terapia de manejo para estos pacientes que fallecían en la mayoría de los casos por falta de estos equipos de soporte.</p>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> 8 camas completamente dotadas para cuidado intensivo cardiovascular </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Monitoreo NIRS </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Electroencefalograma </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Monitoreo invasivo y no invasivo </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Ventiladores de última generación </p></div>
            </div>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">CIRUGÍA MÍNIMAMENTE INVASIVA</span>
            </div>

            <img style="width: 80%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/cxcardio.jpg" alt="">
            
            <br>
            <br>

            <p> Clínica Uros ofrece atención de patologías de alta complejidad y es la única en la región en realizar cirugía cardiovascular mínimamente invasiva, la asistencia ventricular y soporte extracorpóreo; soluciones que en la actualidad han permitido en el mundo ofrecer una mayor supervivencia a los pacientes con enfermedades cardíacas y pulmonares.</p>

            <p> En la cirugía convencional a través del esternón, los pacientes requieren entre nueve a doce semanas para la recuperación y reincorporación a la vida normal, entre tanto con la cirugía mínimamente invasiva los pacientes están en un 90% de recuperación a la cuarta semana de la cirugía y su reintegración a la vida normal es hacia la sexta semana.</p>

            <p> Los nuevos abordajes de la cirugía cardiaca mínimamente invasiva permitirán una recuperación más temprana de los pacientes, menor pérdida sanguínea en las cirugías y tiempos de menor estadía tanto en cuidados intensivos y hospitalización pasando de un postoperatorio intrahospitalario de diez días con la cirugía convencional a cuatro días con la cirugía mínimamente invasiva.</p>

        </div> 

        
    </div>
{% endblock %}