{% extends 'index.html' %}
{% block section %}
    <img style="width: 100%; height: auto;" src="static/fotos/fotos_inicio/consultaexterna.jpeg" alt="">

    <br>
    <br>
    <div class="derechoDeberes row">
        <div class="col-md-12 col-sm-12 col-lg-7">

            <br>
            <br>

            <div class="titulosderechoDeberes" style="text-align: left; padding-left: 8%; padding-right: 8%;">
                <span style="color: #85868a; ">CONSULTA <span style="color: #8ac64b;">EXTERNA</span></span>
            </div>

            <div><p><i class="bi bi-circle-fill"></i> Amplias y confortables salas de espera. </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Consultorios independientes completamente dotados. </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Asignación de citas por Call Center. </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Consulta Especializada. </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Consulta Prioritaria </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Atención integral a la familia. </p></div>

            <br>
            <br>
            
            <div class="tituloH3" style="text-align: left; padding-left: 8%; padding-right: 8%;">
                <span style="color: #8ac64be3;">CONSULTA ESPECIALIZADA</span>
            </div>

            <div><p><i class="bi bi-circle-fill"></i> Amplio directorio de médicos especialistas a disposición del usuario. </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Amplios consultorios con tecnología avanzada. </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Oportunidad del servicio. </p></div>
            <div><p><i class="bi bi-circle-fill"></i> La mejor atención y accesibilidad en los servicios con médicos especialistas </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Amplias y confortables salas de espera. </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Anestesiología </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Cardiología </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Cardiología pediátrica </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Cirugía de tórax </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Cirugía maxilofacial </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Cirugía de cabeza y cuello </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Cirugía general </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Cirugía de mano </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Cirugía plástica </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Cirugía vascular </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Clínica del dolor </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Endocrinología </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Fisioterapia </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Gastroenterología </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Ginecología y obstetricia </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Infectología </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Neumología </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Neurología </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Neurología pediátrica </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Nutrición </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Ortopedia </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Pediatría </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Psicología </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Psiquiatría </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Terapias </p></div>


        </div> 

        <div class="col-md-12 col-sm-12 col-lg-5 d-flex justify-content-center">
            
            <div class="menu" style="width: 100%; font-size: 13px;">
                <div class="nav-item dropdown">
                    <a class="nav-link active"><img src="static/fotos/fotos_inicio/servicios1.png" alt=""></a>
                    <div class="dropdown-content" style="left: 150px; margin-top: -35px;">
                        <a class="nav-link" href="/salaCirugia">UNIDAD DE CIRUGÍA</a>
                        <a class="nav-link" href="/neuroCirugia">UNIDAD DE NEUROCIRUGÍA</a>
                        <a class="nav-link" href="/hospitalizacionGeneral">HOSPITALIZACIÓN GENERAL</a>
                        <a class="nav-link" href="/urgencia">URGENCIAS</a>
                        <a class="nav-link" href="/hemodinamia">UNIDAD DE HEMODINAMIA</a>
                        <a class="nav-link" href="/ginecologia">UNIDAD DE GINECOLOGÍA Y OBSTETRICIA</a>
                        <a class="nav-link" href="/cardiologia">UNIDAD DE CARDIOLOGÍA</a>
                        <a class="nav-link" href="/hospiCasa">PROGRAMA HOSPITALIZACIÓN EN CASA</a>
                        <a class="nav-link" href="/gastroenterologia">UNIDAD DE GASTROENTEROLOGÍA</a>
                        <a class="nav-link" href="#">LABORATORIO CLÍNICO Y ESPECIALIZADO</a>
                        <a class="nav-link" href="#">UNIDAD DE IMAGENOLOGÍA Y RESONANCIA</a>
                        <a class="nav-link" href="#">OTROS SERVICIOS</a>
                        <a class="nav-link" href="#">UNIDAD DE CUIDADOS INTENSIVOS</a>
                        <a class="nav-link" href="/consultaExterna">CONSULTA EXTERNA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}