{% extends 'index.html' %}
{% block section %}
    <div id="pqr" class="containerUnoContacto row aling-items-center py-5 no-gutters">
        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
            <div class="cont1 card bg-transparent border-0 shadow-lg" style="width: 18rem;">
                <div class="con card-body text-center">
                    <h5 class="card-title"><a href="/formPqr">PQR</a></h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="tituloSedes">
        <span style="color: #8ac64b;">NUESTRAS <span style="color:#85868a;">SEDES</span></span>
    </div>
    <br>
    <div class="containerDosContacto card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#TA" aria-expanded="true" aria-controls="TA">TORRE A - SEDE PRINCIPA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#TB" aria-expanded="true" aria-controls="TB">TORRE B - HOSPITALIZACIÓN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#TC" aria-expanded="true" aria-controls="TC">TORRE C - UNIDAD DE CUIDADO CRÓNICO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#TD" aria-expanded="true" aria-controls="TD">TORRE D - HOSPITALIZACIÓN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#CE" aria-expanded="true" aria-controls="CE">CONSULTA EXTERNA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#LB" aria-expanded="true" aria-controls="LB">TOMA DE MUESTRAS</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <div id="TA" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row aling-items-center py-5 no-gutters">
                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                    <div class="card bg-transparent border-0 shadow-lg" style="width: 90%;">
                                        <div class="imagenTA mx-auto">

                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">DIRECCION</th>
                                                    <th scope="col">TELEFONO</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>RAYOS X</td>
                                                    <td>Clinica Uros - cra 6 N. 16-35</td>
                                                    <td>8725400 Ext 114</td>
                                                    </tr>
                                                    <tr>
                                                    <td>TOMOGRAFO</td>
                                                    <td>Clinica Uros - cra 6 N. 16-35</td>
                                                    <td>8725400 Ext 114</td>
                                                    </tr>
                                                    <tr>
                                                    <td>2 PISO: Hospitalizacion - Uci Pediatrica-trauma Quirurgica - Intermedios</td>
                                                    <td>Clinica Uros - cra 6 N. 16-35</td>
                                                    <td>8725400 Ext 613-122-146-144</td>
                                                    </tr>
                                                    <tr>
                                                    <td>3 PISO: UCI Neonatal - UCI Adulto pediatrica Hospitalizacion</td>
                                                    <td>Clinica Uros - cra 6 N. 16-36</td>
                                                    <td>8725400 Ext 300-142</td>
                                                    </tr>
                                                    <tr>
                                                    <td>4 PISO: Salas de Cirugia - Esterilizacion</td>
                                                    <td>Clinica Uros - cra 6 N. 16-36</td>
                                                    <td>8725400 Ext 400-139</td>
                                                    </tr>
                                                    <tr>
                                                    <td>5 Piso: Ginecologia</td>
                                                    <td>Clinica Uros - cra 6 N. 16-36</td>
                                                    <td>8725400 Ext 501-500</td>
                                                    </tr>
                                                    <tr>
                                                    <td>6 Piso: Cardiovascular</td>
                                                    <td>Clinica Uros - cra 6 N. 16-36</td>
                                                    <td>8725400 Ext 600</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="TB" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row aling-items-center py-5 no-gutters">
                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                    <div class="card bg-transparent border-0 shadow-lg" style="width: 90%;">
                                        <div class="imagenTB mx-auto">

                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">DIRECCION</th>
                                                    <th scope="col">TELEFONO</th>
                                                    <th scope="col">VISITAS</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>SERVICIO DE HOSPITALIZACIÓN</td>
                                                    <td>Cra 6 N. 15-36</td>
                                                    <td>3173695562</td>
                                                    <td>10:00 A 7:00 PM</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="TC" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row aling-items-center py-5 no-gutters">
                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                    <div class="card bg-transparent border-0 shadow-lg" style="width: 90%;">
                                        <div class="imagenTC mx-auto">

                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">DIRECCION</th>
                                                    <th scope="col">TELEFONO</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>SERVICIO DE HOSPITALIZACIÓN</td>
                                                    <td>Cra 16 N. 7a-52</td>
                                                    <td>8716054-3168314918</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="TD" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row aling-items-center py-5 no-gutters">
                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                    <div class="card bg-transparent border-0 shadow-lg" style="width: 90%;">
                                        <div class="imagenTD mx-auto">

                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">DIRECCION</th>
                                                    <th scope="col">TELEFONO</th>
                                                    <th scope="col">VISITAS</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>SERVICIO DE HOSPITALIZACIÓN</td>
                                                    <td>Cra 17 N. 5a-81</td>
                                                    <td>3173695562</td>
                                                    <td>10:00 A 7:00 PM</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="CE" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row aling-items-center py-5 no-gutters">
                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                    <div class="card bg-transparent border-0 shadow-lg" style="width: 90%;">
                                        <div class="imagenCE mx-auto">

                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">DIRECCION</th>
                                                    <th scope="col">TELEFONO</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>Cita Especialistas</td>
                                                    <td>Call 16a N. 6-55</td>
                                                    <td>8633388-3177703035</td>
                                                    </tr>
                                                    <tr>
                                                    <td>Facturación consulta externa</td>
                                                    <td>Call 16a N. 6-55</td>
                                                    <td>8725400 Ext 105</td>
                                                    </tr>
                                                    <tr>
                                                    <td>Resonancia</td>
                                                    <td>Call 16a N. 6-55</td>
                                                    <td>8758116</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="LB" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row aling-items-center py-5 no-gutters">
                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                    <div class="card bg-transparent border-0 shadow-lg" style="width: 90%;">
                                        <div class="imagenLB mx-auto">

                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">DIRECCION</th>
                                                    <th scope="col">TELEFONO</th>
                                                    <th scope="col">HORARIO DE ATENCION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>TOMA LABORATORIOS	</td>
                                                    <td>Cra 17 N. 6-13</td>
                                                    <td>8725400 EXT 118 3164654611</td>
                                                    <td>6:00 A 9:00 AM de lunes a sábado</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

{% endblock %}

