{% extends 'index.html' %}
{% block section %}
    <div id="pqr" class="containerUnoContacto row aling-items-center py-5 no-gutters">
        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
            <div class="cont1 card bg-transparent border-0 shadow-lg" style="width: 18rem;">
                <div class="con card-body text-center">
                    <h5 class="card-title"><a href="/formPqr">PQR</a></h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="tituloSedes">
        <span style="color: #8ac64b;">NUESTRAS <span style="color:#85868a;">SEDES</span></span>
    </div>
    <br>
    <div class="containerDosContacto card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#TA" aria-expanded="true" aria-controls="TA">TORRE A - SEDE PRINCIPA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#TB" aria-expanded="true" aria-controls="TB">TORRE B - HOSPITALIZACIÓN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#TC" aria-expanded="true" aria-controls="TC">TORRE C - UNIDAD DE CUIDADO CRÓNICO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#TD" aria-expanded="true" aria-controls="TD">TORRE D - HOSPITALIZACIÓN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#CE" aria-expanded="true" aria-controls="CE">CONSULTA EXTERNA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#LB" aria-expanded="true" aria-controls="LB">TOMA DE MUESTRAS</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <div id="TA" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row aling-items-center py-5 no-gutters">
                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                    <div class="card bg-transparent border-0 shadow-lg" style="width: 90%;">
                                        <br>
                                        <div class="imagenTA mx-auto">

                                        </div>
                                        <br>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">DIRECCION</th>
                                                    <th scope="col">TELEFONO</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>RAYOS X</td>
                                                    <td>Clinica Uros - cra 6 N. 16-35</td>
                                                    <td>8725400 Ext 114</td>
                                                    </tr>
                                                    <tr>
                                                    <td>TOMOGRAFO</td>
                                                    <td>Clinica Uros - cra 6 N. 16-35</td>
                                                    <td>8725400 Ext 114</td>
                                                    </tr>
                                                    <tr>
                                                    <td>2 PISO: Hospitalizacion - Uci Pediatrica-trauma Quirurgica - Intermedios</td>
                                                    <td>Clinica Uros - cra 6 N. 16-35</td>
                                                    <td>8725400 Ext 613-122-146-144</td>
                                                    </tr>
                                                    <tr>
                                                    <td>3 PISO: UCI Neonatal - UCI Adulto pediatrica Hospitalizacion</td>
                                                    <td>Clinica Uros - cra 6 N. 16-36</td>
                                                    <td>8725400 Ext 300-142</td>
                                                    </tr>
                                                    <tr>
                                                    <td>4 PISO: Salas de Cirugia - Esterilizacion</td>
                                                    <td>Clinica Uros - cra 6 N. 16-36</td>
                                                    <td>8725400 Ext 400-139</td>
                                                    </tr>
                                                    <tr>
                                                    <td>5 Piso: Ginecologia</td>
                                                    <td>Clinica Uros - cra 6 N. 16-36</td>
                                                    <td>8725400 Ext 501-500</td>
                                                    </tr>
                                                    <tr>
                                                    <td>6 Piso: Cardiovascular</td>
                                                    <td>Clinica Uros - cra 6 N. 16-36</td>
                                                    <td>8725400 Ext 600</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="TB" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row aling-items-center py-5 no-gutters">
                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                    <div class="card bg-transparent border-0 shadow-lg" style="width: 90%;">
                                        <br>
                                        <div class="imagenTB mx-auto">

                                        </div>
                                        <br>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">DIRECCION</th>
                                                    <th scope="col">TELEFONO</th>
                                                    <th scope="col">VISITAS</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>SERVICIO DE HOSPITALIZACIÓN</td>
                                                    <td>Cra 6 N. 15-36</td>
                                                    <td>3173695562</td>
                                                    <td>10:00 A 7:00 PM</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="TC" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row aling-items-center py-5 no-gutters">
                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                    <div class="card bg-transparent border-0 shadow-lg" style="width: 90%;">
                                        <br>
                                        <div class="imagenTC mx-auto">

                                        </div>
                                        <br>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">DIRECCION</th>
                                                    <th scope="col">TELEFONO</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>SERVICIO DE HOSPITALIZACIÓN</td>
                                                    <td>Cra 16 N. 7a-52</td>
                                                    <td>8716054-3168314918</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="TD" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row aling-items-center py-5 no-gutters">
                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                    <div class="card bg-transparent border-0 shadow-lg" style="width: 90%;">
                                        <br>
                                        <div class="imagenTD mx-auto">

                                        </div>
                                        <br>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">DIRECCION</th>
                                                    <th scope="col">TELEFONO</th>
                                                    <th scope="col">VISITAS</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>SERVICIO DE HOSPITALIZACIÓN</td>
                                                    <td>Cra 17 N. 5a-81</td>
                                                    <td>3173695562</td>
                                                    <td>10:00 A 7:00 PM</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="CE" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row aling-items-center py-5 no-gutters">
                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                    <div class="card bg-transparent border-0 shadow-lg" style="width: 90%;">
                                        <br>
                                        <div class="imagenCE mx-auto">

                                        </div>
                                        <br>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">DIRECCION</th>
                                                    <th scope="col">TELEFONO</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>Cita Especialistas</td>
                                                    <td>Call 16a N. 6-55</td>
                                                    <td>8633388-3177703035</td>
                                                    </tr>
                                                    <tr>
                                                    <td>Facturación consulta externa</td>
                                                    <td>Call 16a N. 6-55</td>
                                                    <td>8725400 Ext 105</td>
                                                    </tr>
                                                    <tr>
                                                    <td>Resonancia</td>
                                                    <td>Call 16a N. 6-55</td>
                                                    <td>8758116</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="LB" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row aling-items-center py-5 no-gutters">
                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                    <div class="card bg-transparent border-0 shadow-lg" style="width: 90%;">
                                        <br>
                                        <div class="imagenLB mx-auto">

                                        </div>
                                        <br>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">DIRECCION</th>
                                                    <th scope="col">TELEFONO</th>
                                                    <th scope="col">HORARIO DE ATENCION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>TOMA LABORATORIOS	</td>
                                                    <td>Cra 17 N. 6-13</td>
                                                    <td>8725400 EXT 118 3164654611</td>
                                                    <td>6:00 A 9:00 AM de lunes a sábado</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br id="directorioT">
    <br>

    <div class="containerInicioUno" style="margin-bottom: 30px;">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="height: auto;">
            <div style="position: relative;">
                <img style="width: 100%; height: 100px; border-radius: 15px 15px 0px 0px;" src="static/fotos/fotos_inicio/barraverde.jpg" alt="">
                <div style=" position: absolute; top: 30%; left: 10%; font-size: 25px; font-family: 'Times New Roman'; color: #fff;">DIRECTORIO TELEFONICO</div>
            </div>
            <div class="carousel-inner">
                <br>
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <img style="width: 30%; height: auto; margin-top: 25%; margin-bottom: 10%;" src="static/fotos/fotos_inicio/logouros.png" alt="">
                    </div> 
                </div>
                <div class="carousel-item d-flex justify-content-center">
                    <div class="row tabladire1">
                        <div class="col-md-12 col-sm-12 col-lg-12 mx-auto my-auto" style="width: 100%;">
                            <table class="table table-bordered table-responsive" style="width: 100%; font-size: 13px;">
                                <tbody>
                                    <tr>
                                        <td colspan="3"><center>DIRECCIÓN    MÉDICA</center></td>
                                    </tr>
                                    <tr>
                                        <td>Director médico</td>
                                        <td>&nbsp;113- 3125110089</td>
                                        <td>5    piso</td>
                                    </tr>
                                    <tr>
                                        <td>Sub director médico</td>
                                        <td>&nbsp;124-133</td>
                                        <td>4    piso</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">FARMACIA&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Farmacia principal&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>136</td>
                                        <td>&nbsp;1 piso</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><center>GESTIÓN    HUMANA (Calle 16a N.6-20)</center></td>
                                    </tr>
                                    <tr>
                                        <td>Recepción&nbsp;</td>
                                        <td>101</td>
                                        <td>Casa    Administrativa</td>
                                    </tr>
                                    <tr>
                                        <td>Presidencia&nbsp;&nbsp;</td>
                                        <td>611</td>
                                        <td>Casa    Administrativa</td>
                                    </tr>
                                    <tr>
                                        <td>Talento humano</td>
                                        <td>120</td>
                                        <td>Casa    Administrativa&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Auxiliar talento humano&nbsp;&nbsp;</td>
                                        <td>120</td>
                                        <td>Casa    Administrativa</td>
                                    </tr>
                                    <tr>
                                        <td>Asesor jurídico&nbsp;&nbsp;</td>
                                        <td>138</td>
                                        <td>Casa    Administrativa</td>
                                    </tr>
                                    <tr>
                                        <td>Líder comercial&nbsp;</td>
                                        <td>116-3502765189</td>
                                        <td>Casa    Administrativa</td>
                                    </tr>
                                    <tr>
                                        <td>Líder comunicaciones&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>148</td>
                                        <td>Casa    Administrativa</td>
                                    </tr>
                                    <tr>
                                        <td>Director administrativo y financiero&nbsp;</td>
                                        <td>116-3125110131</td>
                                        <td>Casa    Administrativa</td>
                                    </tr>
                                    <tr>
                                        <td>Auditor cuentas médicas y líder contratación&nbsp;</td>
                                        <td>101-3156486547</td>
                                        <td>Casa    Administrativa</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><center>HOSPITALIZACIÓN    2 PISO&nbsp;</center></td>
                                    </tr>
                                    <tr>
                                        <td>UCI pediatría&nbsp;</td>
                                        <td>146</td>
                                        <td>2    piso</td>
                                    </tr>
                                    <tr>
                                        <td>Unidad de cuidados intermedios&nbsp;</td>
                                        <td>122</td>
                                        <td>2    piso</td>
                                    </tr>
                                    <tr>
                                        <td>UCI trauma quiúrgica adulto</td>
                                        <td>144</td>
                                        <td>2    piso</td>
                                    </tr>
                                    <tr>
                                        <td>Hospitalizacion    adultos</td>
                                        <td>613</td>
                                        <td>2    piso</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><center>HOSPITALIZACIÓN    3 PISO&nbsp;</center></td>
                                    </tr>
                                    <tr>
                                        <td>Estación de enfermería unidad básica neonatal</td>
                                        <td>142</td>
                                        <td>3    piso</td>
                                    </tr>
                                    <tr>
                                        <td>Estación de enfermería&nbsp;    pediatría&nbsp;</td>
                                        <td>132</td>
                                        <td>3    piso</td>
                                    </tr>
                                    <tr>
                                        <td>UCI adulto</td>
                                        <td>302</td>
                                        <td>3    piso</td>
                                    </tr>
                                    <tr>
                                        <td>UCI neonatal&nbsp;</td>
                                        <td>301</td>
                                        <td>3    piso</td>
                                    </tr>
                                    <tr>
                                        <td>Facturación UCI</td>
                                        <td>300</td>
                                        <td>3    piso</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="carousel-item d-flex justify-content-center">
                    <div class="row tabladire1">
                        <div class="col-md-12 col-sm-12 col-lg-12 mx-auto my-auto" style="width: 100%;">
                            <table class="table table-bordered table-responsive" style="width: 100%; font-size: 13px;">
                                <tbody>
                                <tr>
                                <td colspan="3"><center>INTERNO    CLÍNICA UROS S.A</center></td>
                                </tr>
                                <tr>
                                <td colspan="3"><center>PBX 8725400</center></td>
                                </tr>
                                <tr>
                                <td colspan="3"><center>CLÍNICA UROS Sede Principal Carrera 6 No 16-35    Barrio Quirinal</center></td>
                                </tr>
                                <tr>
                                <td>DEPARTAMENTOS – SERVICIOS</td>
                                <td> EXTENSIÓN</td>
                                <td> PISO</td>
                                </tr>
                                <tr>
                                <td colspan="3"><center>ADMISIONES    Y FACTURACIÓN</center></td>
                                </tr>
                                <tr>
                                <td>Admisiones cirugía ambulatoria</td>
                                <td> 400</td>
                                <td> 4    piso</td>
                                </tr>
                                <tr>
                                <td>Admisiones y facturación urgencias</td>
                                <td>100</td>
                                <td>1    Piso</td>
                                </tr>
                                <tr>
                                <td>Auditoría cuentas médicas</td>
                                <td>129</td>
                                <td>1    Piso</td>
                                </tr>
                                <tr>
                                <td colspan="3">ATENCIÓN    AL USUARIO</td>
                                </tr>
                                <tr>
                                <td>Coordinadora SIAU</td>
                                <td>129</td>
                                <td>Consulta    externa</td>
                                </tr>
                                <tr>
                                <td colspan="3"><center>CALL    CENTER</center></td>
                                </tr>
                                <tr>
                                <td>Citas Médicas</td>
                                <td>8633388</td>
                                <td>1    Piso</td>
                                </tr>
                                <tr>
                                <td colspan="3"><center>CIRUGÍA</center></td>
                                </tr>
                                <tr>
                                <td>Admisión y facturación</td>
                                <td>400</td>
                                <td>4 piso</td>
                                </tr>
                                <tr>
                                <td>Coordinador de salas</td>
                                <td>3167406682</td>
                                <td>4 piso</td>
                                </tr>
                                <tr>
                                <td>Sala recuperación - Cirugía</td>
                                <td>139</td>
                                <td>4 piso</td>
                                </tr>
                                <tr>
                                <td>Farmacia cirugía</td>
                                <td>612</td>
                                <td>4 piso</td>
                                </tr>
                                <tr>
                                <td>Programación de cirugía</td>
                                <td>3106199006</td>
                                <td>Consulta Externa</td>
                                </tr>
                                <tr>
                            <td>Farmacia    Principal</td>
                                <td>136</td>
                                <td>4 piso</td>
                                </tr>
                                <tr>
                                <td colspan="3"><center>CONSULTA    EXTERNA Calle 16A No. 6-54</center></td>
                                </tr>
                                <tr>
                                <td>Coordinador consulta externa</td>
                                <td>607</td>
                                <td>Consulta Externa</td>
                                </tr>
                                <tr>
                                <td>Facturación</td>
                                <td>105</td>
                                <td>Consulta Externa</td>
                                </tr>
                                <tr>
                                <td>Enfermería promoción y prevención</td>
                                <td>3143101429</td>
                                <td>Consulta Externa</td>
                                </tr>
                                <tr>
                                <td>Vacunación</td>
                                <td>3143101429</td>
                                <td>Consulta Externa</td>
                                </tr>
                                <tr>
                                <td>Coordinador enfermería PHDA</td>
                                <td>607-3176613651</td>
                                <td>Consulta Externa</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="carousel-item d-flex justify-content-center">
                    <div class="row tabladire1">
                        <div class="col-md-12 col-sm-12 col-lg-12" style="width: 100%;">
                            <table class="table table-bordered table-responsive" style="width: 100%; font-size: 13px;">
                                <tbody>
                                    <tr>
                                        <td colspan="3" width="700"><center>HOSPITALIZACIÓN    5 PISO&nbsp;</center></td>
                                    </tr>
                                    <tr>
                                        <td width="330">Estación de enfermería&nbsp;    ginecológica, obstétrica y pediátrica</td>
                                        <td width="190">500</td>
                                        <td width="180">5    piso</td>
                                    </tr>
                                    <tr>
                                        <td width="330" height="24">Estación de enfermería sala de partos&nbsp;</td>
                                        <td width="190">501</td>
                                        <td width="180">5    Piso</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" width="700"><center>HOSPITALIZACIÓN&nbsp; 6 PISO&nbsp;</center></td>
                                    </tr>
                                    <tr>
                                        <td width="330">Estación de enfermería platino&nbsp;</td>
                                        <td width="190">600</td>
                                        <td width="180">6    Piso</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><center>LABORATORIO&nbsp;</center></td>
                                    </tr>
                                    <tr>
                                        <td>Toma de muestras</td>
                                        <td>103</td>
                                        <td>Carrera 6 No. 17-58</td>
                                    </tr>
                                    <tr>
                                        <td>Coordinadora    laboratorio&nbsp;</td>
                                        <td>3204773293</td>
                                        <td>7    Piso</td>
                                    </tr>
                                    <tr>
                                        <td>Estación auxiliar laboratorio</td>
                                        <td>118</td>
                                        <td>7    Piso</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><center>NUTRICIÓN</center></td>
                                    </tr>
                                    <tr>
                                        <td>Especialista en nutrición</td>
                                        <td>302-144</td>
                                        <td>Externo</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><center>RADIOLOGÍA    E IMAGENOLOGÍA&nbsp;</center></td>
                                    </tr>
                                    <tr>
                                        <td>Coordinadora imagenología&nbsp;</td>
                                        <td>3173707499</td>
                                        <td>&nbsp;&nbsp;&nbsp; 1 piso</td>
                                    </tr>
                                    <tr>
                                        <td>Radiólogos&nbsp;&nbsp;</td>
                                        <td>110</td>
                                        <td>&nbsp;&nbsp;&nbsp; 1 Piso</td>
                                    </tr>
                                    <tr>
                                        <td>Facturación imágenes diagnósticas&nbsp;</td>
                                        <td>114</td>
                                        <td>&nbsp;&nbsp;&nbsp; 1 Piso</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="carousel-item d-flex justify-content-center">
                    <div class="row tabladire1">
                        <div class="col-md-12 col-sm-12 col-lg-12" style="width: 100%;">
                            <table class="table table-bordered table-responsive" style="width: 100%; font-size: 13px;">
                                <tbody>
                                    <tr>
                                    <td colspan="3"><center>REFERENCIA    Y CONTRAREFERENCIA&nbsp;&nbsp;</center></td>
                                    </tr>
                                    <tr>
                                    <td>Coordinadora referencia&nbsp;</td>
                                    <td>3107585666</td>
                                    <td>&nbsp;&nbsp;&nbsp; 4 Piso</td>
                                    </tr>
                                    <tr>
                                    <td>Referencia&nbsp;</td>
                                    <td>124</td>
                                    <td>&nbsp;&nbsp;&nbsp; 4 Piso</td>
                                    </tr>
                                    <tr>
                                    <td>Autorizaciones&nbsp;</td>
                                    <td>133</td>
                                    <td>&nbsp;&nbsp;&nbsp; 4 Piso</td>
                                    </tr>
                                    <tr>
                                    <td>Referencia facturación</td>
                                    <td>3106197949</td>
                                    <td>&nbsp;&nbsp;&nbsp; 4 Piso</td>
                                    </tr>
                                    <tr>
                                    <td>Referencia y contrareferencia</td>
                                    <td>3174323819</td>
                                    <td>&nbsp;&nbsp;&nbsp; 4 Piso</td>
                                    </tr>
                                    <tr>
                                    <td colspan="3"><center>RESONANCIA&nbsp;&nbsp;</center></td>
                                    </tr>
                                    <tr>
                                    <td>Resonancia&nbsp; citas&nbsp;</td>
                                    <td>8758116</td>
                                    <td>&nbsp;&nbsp; Consulta Externa</td>
                                    </tr>
                                    <tr>
                                    <td>Coordinardor    resonancia&nbsp;</td>
                                    <td>3108606742</td>
                                    <td>&nbsp;&nbsp; Consulta Externa</td>
                                    </tr>
                                    <tr>
                                    <td colspan="3"><center>SEGURIDAD</center></td>
                                    </tr>
                                    <tr>
                                    <td>Portería</td>
                                    <td>608</td>
                                    <td>&nbsp;1 Piso</td>
                                    </tr>
                                    <tr>
                                    <td colspan="3"><center>SEDES    DE HOSPITALIZACIÓN</center></td>
                                    </tr>
                                    <tr>
                                    <td>Torre C -    Crónicos&nbsp;</td>
                                    <td>8716054-3168314918</td>
                                    <td>Calle 16a    N.7a-52&nbsp;</td>
                                    </tr>
                                    <tr>
                                    <td>Torre B -    Hospitalización</td>
                                    <td>3173695562</td>
                                    <td>Carrera 6 N 15-22</td>
                                    </tr>
                                    <tr>
                                    <td colspan="3"><center>URGENCIAS</center></td>
                                    </tr>
                                    <tr>
                                    <td>Admisiones&nbsp;&nbsp;</td>
                                    <td>100</td>
                                    <td>1    Piso</td>
                                    </tr>
                                    <tr>
                                    <td>Enfermería consultorios&nbsp;</td>
                                    <td>100</td>
                                    <td>1    Piso</td>
                                    </tr>
                                    <tr>
                                    <td>Urgencias observación&nbsp;</td>
                                    <td>102</td>
                                    <td>1    Piso</td>
                                    </tr>
                                    <tr>
                                    <td>Consultorio 1&nbsp;</td>
                                    <td>121</td>
                                    <td>1    piso</td>
                                    </tr>
                                    <tr>
                                    <td>Consultorio 2&nbsp;</td>
                                    <td>123</td>
                                    <td>1    piso</td>
                                    </tr>
                                    <tr>
                                    <td>Consultorio 3</td>
                                    <td>125</td>
                                    <td>1    piso</td>
                                    </tr>
                                    <tr>
                                    <td>Consultorio Triage</td>
                                    <td>610</td>
                                    <td>1    piso</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div>
                <img style="width: 100%; height: 100px; border-radius: 0px 0px 15px 15px;" src="static/fotos/fotos_inicio/barraverde1.jpg" alt="">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="bi bi-arrow-right-circle" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% endblock %}

