{% extends 'index.html' %}
{% block section %}
    <img style="width: 100%; height: auto;" src="static/fotos/fotos_inicio/neonatal.jpg" alt="">
    
    <br id="neonatal">
    <br>
    <br>

    <div class="titulosderechoDeberes d-flex justify-content-center" >
        <span style="color: #85868a; ">UNIDAD DE CUID<span style="color: #8ac64b;">ADOS INTENSIVOS</span></span>
    </div>

    <div class="derechoDeberes row d-flex justify-content-center">
        <div class="col-md-10 col-sm-12 col-lg-10">
            <br>
            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">UNIDAD CUIDADO INTENSIVO NEONATAL</span>
            </div>

            <p>Contamos con la mejor unidad de cuidado crítico neonatal del departamento con una capacidad de 30 incubadoras; 18 de dotadas para cuidado intensivo neonatal y 12 para cuidado intermedio neonatal con la mejor tecnología y recurso humano calificado para brindar una atención con excelencia a nuestros neonatos, quienes son nuestro mayor motivador para prestar un servicio con el alma y responsabilidad social.</p>
            
            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">Adicionalmente contamos con:</span>
            </div>

            <div style="padding-left: 6%; padding-right: 6%;">
                <div><p><i class="bi bi-circle-fill"></i> Pediatras capacitados en atención neonatal. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Especialistas en neonatología, cirugía infantil, neumología pediátrica, nefrología pediátrica, neurología pediátrica y cardiología pediátrica. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Profesionales en fisioterapia y nutrición. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Equipos para toma de radiografías y ecografías que pueden transportarse a la unidad si se requieren. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> 03 Ventiladores de alta frecuencia y 02 Ventiladores de bajo peso (Únicos en Neiva) </p></div>
                <div><p><i class="bi bi-circle-fill"></i> 30 incubadoras dotadas de ventiladores, monitores de signos vitales, censores periféricos de saturación de oxígeno, bombas de infusión, lámparas de calor radiante,  incubadoras de transporte apropiadas para neonatos. </p></div>
                <div id="intensivoP"><p><i class="bi bi-circle-fill"></i> 01 Cubículo en aislamiento dotado de toda la tecnología necesaria que nos permite realizar intervenciones quirúrgicas de urgencia institucional. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Espacios e iluminación apropiados. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Recurso humano calificado según las exigencias establecidas en los estándares de habilitación del Sistema Obligatorio de la Calidad, dispuesto a ofrecer la mejor atención al neonato y su familia. </p></div>
            </div>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">UNIDAD DE CUIDADO INTENSIVO PEDIÁTRICO</span>
            </div>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/ucineo2.jpg" alt="">

            <br>
            <br>

            <p>En la Unidad de Cuidados Intensivos Pediátrica se atienden a los niños que, debido a la gravedad de su enfermedad o el tipo de control médico requerido, deben tener un cuidado médico especializado de manera permanente. Esta unidad se encuentra ubicada en el segundo piso de la clínica Uros y consta de:</p>

            <div style="padding-left: 6%; padding-right: 6%;">
                <div><p><i class="bi bi-circle-fill"></i> Siete (7) camas incluida una (1) de aislamiento en cubículos independientes dotadas con tecnología de punta. </p></div>
                <div id="intensivoA"><p><i class="bi bi-circle-fill"></i> Manejo por pediatra intensivista las 24 horas del día y cuenta con el apoyo de otras especialidades como neuropediatría, cirugía pediátrica, cardiología, neumología y nefrología pediátrica. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Central de monitoreo, monitoria invasiva, columnas y ventilador con tecnología Drager (alemana). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Ventilador de alta frecuencia </p></div>
            </div>

            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">UNIDAD CUIDADO INTENSIVO ADULTOS</span>
            </div>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/ucia.jpg" alt="">
            <br>
            <br>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> 15 Camas en cubículos independientes y completamente automatizados. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Sistema de torres para equipos de infusión y monitoreo electrónico. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Nuestra unidad está liderada por un intensivista apoyado por especialistas en diferentes áreas (neumología, cardiología, neurocirugía, gastroenterología, gastro oncología, entre otras). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Equipo de monitoreo invasivo de última generación. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Computador de gasto cardíaco. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Electrocardiógrafo, ecógrafo y rayos x portátil. </p></div>
                <div id="quirurgico"><p><i class="bi bi-circle-fill"></i> Máquina de gases arteriales. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Resucitación cardiopulmonar, cardioversión,  toracentesis, paracentesis, hemotransfusión, punción lumbar, soporte nutricional. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Personal auxiliar de enfermería capacitado para U.C.I.</p></div>
            </div>

            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;" >
                <span style="color: #8ac64be3;">CUIDADO INTENSIVO QUIRÚRGICO-TRAUMA</span>
            </div>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/trauma2.jpg" alt="">
            <br>
            <br>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> 11 Camas, una de ellas para aislamiento en cubículos independientes y completamente automatizados. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Contamos con especialista en cirugía general y liderado por intensivista (quirúrgico) </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Central de monitoreo, monitores, columnas y ventilador   con tecnología Drager (alemana) </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Sistema de torres para equipos de infusión y monitoreo electrónico. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Equipo de monitoreo invasivo de última generación. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Computador de gasto cardíaco. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Electrocardiógrafo, Ecógrafo y Rayos x portátil. </p></div>
                <div id="intermedio"><p><i class="bi bi-circle-fill"></i> Máquina de gases arteriales. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Resucitación cardiopulmonar, cardioversión, toracentesis, paracentesis, hemotransfusión, punción lumbar, soporte nutricional. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Personal auxiliar de enfermería capacitado para U.C.I. </p></div>
            </div>

            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">UNIDAD DE CUIDADO INTERMEDIO ADULTO</span>
            </div>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/interme.jpg" alt="">
            <br>
            <br>

            <p>En la Unidad de Cuidados Intermedios contamos con 14 camas incluida una de aislamiento. En esta unidad se atiende los pacientes críticos hospitalizados. Está diseñada, organizada y dotada para para brindar una atención médica eficiente a aquellos pacientes que necesitan constante monitoreo de sus signos vitales y otros parámetros y que por sus condiciones de gravedad requieran cuidados especiales y tratamientos complejos.</p>
            <p>Conformada por un grupo multidisciplinario (médicos, especialistas y generales entrenados en cuidado intermedio, enfermeras, fisioterapeutas y personal de apoyo) entrenado en el manejo y cuidado de pacientes de alta complejidad, que se caracteriza por su alta calidad científica y especializada, resaltándose su trato humano e integral  del paciente y su familia.</p>
        </div> 
    </div>
{% endblock %}