{% extends 'index.html' %}
{% block section %}
    <img style="width: 100%; height: auto;" src="static/fotos/fotos_inicio/hemo1.jpeg" alt="">

    <br>
    <br>
    <br>
    <div class="derechoDeberes row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="titulosderechoDeberes d-flex justify-content-center">
                <span style="color: #85868a; ">UNIDAD DE <span style="color: #8ac64b;">HEMODINAMIA </span></span>
            </div>
            <p>En el servicio de Hemodinamia se realizan técnicas de diagnóstico y/o tratamiento de tipo invasivo, las cuales introducen un catéter o “sonda hueca” por los vasos sanguíneos y, con ayuda de rayos X y medio de contraste, estudian las arterias cerebrales y periféricas, las cavidades del corazón, válvulas cardíacas, malformaciones congénitas cardíacas y estudios relacionados con la actividad eléctrica del corazón.</p>
            <p>Hemodinamia presta atención de todos los procedimientos de Cateterismo cardíaco y periférico para el diagnóstico y tratamiento de las enfermedades cardiovasculares en una sala dotada con equipos de alta tecnología en la prevención, diagnóstico y tratamiento para todas las enfermedades cardiovasculares.</p>
            <p>Para la realización de los procedimientos el servicio de Hemodinamia cuenta con recurso humano altamente calificado; además dispone de equipos de alta tecnología para ofrecer un efectivo servicio diagnóstico y terapéutico, brindando una excelente atención al usuario y de esta manera asegurar su satisfacción.</p>

            <div class="tituloH3" style="text-align: left; padding-left: 8%; padding-right: 8%;">
                <span style="color: #8ac64be3;">DIAGNÓSTICO</span>
            </div>

            <div><p><i class="bi bi-circle-fill"></i> Arteriografía coronaria y ventriculograma. </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Cateterismo derecho e izquierdo. </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Aortograma </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Biopsia endomiocárdica </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Colocación de marcapaso transitorio </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Arteriografía pulmonar </p></div>

            <div class="tituloH3" style="text-align: left; padding-left: 8%; padding-right: 8%;">
                <span style="color: #8ac64be3;">TERAPÉUTICO</span>
            </div>

            <div><p><i class="bi bi-circle-fill"></i> Angioplastia coronaria + Colocación de Stent </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Angioplastia periférica + Colocación de Stent </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Implantación de endoprótesis aórtica </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Cierre percutáneo de CIA / CIV </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Hemodinamia periférica </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Aneurisma aórtico </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Aneurisma de arteria ilíaca </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Aneurisma de arteria femoral </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Malformaciones arteriovenosas </p></div>
            <div><p><i class="bi bi-circle-fill"></i> Obstrucción arterial y venosa </p></div>
        </div> 

    </div>

{% endblock %}