{% extends 'index.html' %}
{% block section %}
<img style="width: 100%; height: 600px;" src="static/fotos/fotos_inicio/hospitaliza1.jpg" alt="">
<div class="containerDosHistoria">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="titulosHistoria d-flex justify-content-center">
                <span style="color: #8ac64b;">HOSPITALIZACIÓN <span style="color:#85868a;">GENERAL </span></span>
            </div>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills justify-content-center">
                        <li class="nav-item border">
                        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#mision" aria-expanded="true" aria-controls="TA">HOSPITALIZACIÓN (MÉDICO QUIRÚRGICA E INTERNA)</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <div id="mision" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="derechoDeberes row aling-items-center py-3 no-gutters" >

                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center" style="padding-left: 9%; padding-right: 10%;">
                                            <p style="padding-top: 0; padding-bottom: 0;">Clínica Uros cuenta con una infraestructura hospitalaria diseñada especialmente para brindar comodidad y un ambiente cálido durante su estancia en la institución.</p>
                                        </div> 

                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center" style="padding-left: 9%; padding-right: 9%;">
                                            <p style=" padding-top: 0; padding-bottom: 0;">La atención hospitalaria marca la diferencia en la calidad de vida de los pacientes con una capacidad instalada de 158 camas en hospitalización adultos, pediátrica y básica neonatal.</p>
                                        </div> 

                                        <div class="col-md-12 col-sm-12 col-lg-12" style="padding-left: 9%; padding-right: 10%;">
                                            <p class="tituloH3" style="color: #8ac64be3; padding-top: 0; padding-bottom: 0;">Artroscopia de hombro y Rodilla;</p>
                                        </div> 
                                        
                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                            <div><p><i class="bi bi-circle-fill"></i> Personal altamente calificado.</p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Habitaciones individuales y bipersonales. </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Atención con alta calidez humana. </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Médico hospitalario las 24 horas. </p></div>
                                        </div> 

                                        <div class="col-md-12 col-sm-12 col-lg-12" style="padding-left: 9%; padding-right: 10%;">
                                            <p class="tituloH3" style="color: #8ac64be3; padding-top: 0; padding-bottom: 0;">UNIDAD BÁSICA NEONATAL</p>
                                        </div> 

                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center" style="padding-left: 9%; padding-right: 10%;">
                                            <p style="padding-top: 0; padding-bottom: 0;">Cuenta con 8 cunas para la atención de los bebés recién nacidos que presentan bajo y moderado riego después del nacimiento o que requieran después de estar en UCI, continuar tratamiento antes de la salida hospitalaria.</p>
                                        </div> 
                                        
                                        <div class="col-md-12 col-sm-12 col-lg-12" style="padding-left: 9%; padding-right: 10%;">
                                            <p class="tituloH3" style="color: #8ac64be3; padding-top: 0; padding-bottom: 0;">Recurso Humano</p>
                                        </div> 
                                        
                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                            <div><p><i class="bi bi-circle-fill"></i> Médico pediatra las 24 horas y acompañamiento de las sub especialidades como: neumología pediátrica, neurología pediátrica, cardiología pediátrica, cirugía pediátrica.</p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Enfermera jefe y auxiliar de enfermería las  24 horas </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Terapeuta física ocupacional de lenguaje y respiratoria </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Servicio de psicología </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Plan lactario </p></div>
                                        </div> 

                                        <div class="col-md-12 col-sm-12 col-lg-12" style="padding-left: 9%; padding-right: 10%;">
                                            <p class="tituloH3" style="color: #8ac64be3; padding-top: 0; padding-bottom: 0;">UNIDAD  DE CUIDADO CRÓNICO</p>
                                        </div> 

                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center" style="padding-left: 9%; padding-right: 10%;">
                                            <p style="padding-top: 0; padding-bottom: 0;">Contamos con una moderna unidad de crónicos con el fin de brindar una atención personalizada  y preferente a aquellos pacientes que por su patología o tratamiento deben tener una estancia prolongada durante su recuperación.</p>
                                        </div> 

                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center" style="padding-left: 9%; padding-right: 10%;">
                                            <p style="padding-top: 0; padding-bottom: 0;">Es un área equipada con dotación hospitalaria de última tecnología bajo una visión de hotelería  cómoda y confortable para nuestros pacientes.</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}