{% extends 'index.html' %}
{% block section %}
    <img style="width: 100%; height: auto;" src="static/fotos/fotos_inicio/hospicasa.jpeg" alt="">

    <br>
    <br>
    <div class="derechoDeberes row">
        <div class="col-md-12 col-sm-12 col-lg-7">
            <div class="titulosderechoDeberes d-flex justify-content-center">
                <span style="color: #85868a; ">PROGRAMA HOSPITA<span style="color: #8ac64b;">LIZACIÓN EN CASA</span></span>
            </div>
            <p>Estar en casa siempre resulta más cómodo y beneficioso para cualquier paciente. Tener el amor y cuidado de la familia combinado con el aislamiento de las infecciones propias del ambiente clínico Hospitalario contribuye a la pronta recuperación de los pacientes.</p>
            <p>El Programa de Hospitalización Domiciliaria “PAHD”, fue implementado por la Clínica Uros S.A. con el objeto de acompañar al paciente en el proceso de recuperación en su domicilio y está conformado por un grupo de profesionales con el entrenamiento y la disponibilidad requeridos para trasladar a la casa del paciente los servicios asistenciales propios de una clínica.</p>

            <br>
            <br>
            
            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">ATENCION DOMICILIARIA</span>
            </div>
            <p>Clínica UROS ofrece el servicio de Atención Domiciliaria, basado en el manejo de pacientes crónicos con servicio y procedimientos de enfermería las 24 horas, toma de muestras domiciliaria, valoración por psicología, valoración médica y terapias de rehabilitación integral.</p>

        </div> 

        <div class="col-md-12 col-sm-12 col-lg-5 d-flex justify-content-center">
            
            <div class="menu" style="width: 100%; font-size: 13px;">
                <div class="nav-item dropdown">
                    <a class="nav-link active"><img src="static/fotos/fotos_inicio/servicios1.png" alt=""></a>
                    <div class="dropdown-content" style="left: 150px; margin-top: -35px;">
                        <a class="nav-link" href="/salaCirugia">UNIDAD DE CIRUGÍA</a>
                        <a class="nav-link" href="/neuroCirugia">UNIDAD DE NEUROCIRUGÍA</a>
                        <a class="nav-link" href="/hospitalizacionGeneral">HOSPITALIZACIÓN GENERAL</a>
                        <a class="nav-link" href="/urgencia">URGENCIAS</a>
                        <a class="nav-link" href="/hemodinamia">UNIDAD DE HEMODINAMIA</a>
                        <a class="nav-link" href="/ginecologia">UNIDAD DE GINECOLOGÍA Y OBSTETRICIA</a>
                        <a class="nav-link" href="/cardiologia">UNIDAD DE CARDIOLOGÍA</a>
                        <a class="nav-link" href="/hospiCasa">PROGRAMA HOSPITALIZACIÓN EN CASA</a>
                        <a class="nav-link" href="/gastroenterologia">UNIDAD DE GASTROENTEROLOGÍA</a>
                        <a class="nav-link" href="#">LABORATORIO CLÍNICO Y ESPECIALIZADO</a>
                        <a class="nav-link" href="#">UNIDAD DE IMAGENOLOGÍA Y RESONANCIA</a>
                        <a class="nav-link" href="#">OTROS SERVICIOS</a>
                        <a class="nav-link" href="#">UNIDAD DE CUIDADOS INTENSIVOS</a>
                        <a class="nav-link" href="/consultaExterna">CONSULTA EXTERNA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}