{% extends 'index.html' %}
{% block section %}
    <img style="width: 100%; height: auto;" src="static/fotos/fotos_inicio/2.jpeg" alt="">
    
    <br>
    <br>
    <br>
    <br>

    <div class="titulosderechoDeberes d-flex justify-content-center" >
        <span style="color: #85868a; ">UNIDAD DE IMAGENOLOGÍA <span style="color: #8ac64b;">Y RESONANCIA </span></span>
    </div>

    <div class="derechoDeberes row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <br>
            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Rayos X convencional. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Ultrasonido general. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Tomografía axial computarizada (TAC) de 160 Cortes </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Resonancia magnética </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Laboratorio vascular (Doppler color). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cardiología no invasiva. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Terapias y exámenes. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Neumología (fibrobroncoscopia) </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Radiología intervencionista </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Electroencefalografía </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Videotelemetría </p></div>

            </div>
            <br>
            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">TOMOGRAFÍA DE ALTA COMPLEJIDAD</span>
            </div>


            <p>A través de su nuevo equipo de tomografía de 160 CORTES  de última generación Toshiba Prime Aquilion, único en el sur del país, Clínica Uros entrega a la región la posibilidad de detectar y prevenir de manera temprana patologías súbitas como infartos o accidentes cerebrovasculares.</p>

            <p>Gracias al cumplimiento de las condiciones de seguridad y protección requeridas en la resolución 482 de 2018 bajo la reglamentación del Organismo Internacional de Energía Atómica, Clínica Uros cuenta con la licencia  de práctica médica II , un gran logro para nuestra institución, que nos convierte en la primera IPS en contar con este aval para el funcionamiento de nuestro nuevo tomógrafo de 160 CORTES, el de mayor tecnología y número de Cortes en la región surcolombiana para radiodiagnóstico de alta complejidad.  </p>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/imagenologiauros.jpg" alt="">
            <br>
            <br>
            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">NUEVO DESARROLLO PARA EVITAR INFARTOS</span>
            </div>


            <p>Entre otras aplicaciones novedosas y que permiten estudios de alta complejidad, posee el software especializado en manejo cardíaco con el que los pacientes sabrán si están en riesgo de sufrir un ataque cardíaco gracias al examen conocido como Score de Calcio y la Angiografía Coronaria, que determinan si las arterias coronarias están bloqueadas o reducidas por la acumulación de placas formadas por grasa, colesterol y calcio que se depositan en la parte interior de las arterias. Sin duda alguna la mejor herramienta diagnóstica para prevenir infartos aun cuando no haya síntomas.</p>

            <p>Algunos de los estudios novedosos de nuestro equipo:</p>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Revascularización miocárdica con y sin bomba </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cirugía Valvular convencional y mínimamente invasiva </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cirugía de reparo valvular mitral y aórtico </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cirugía compleja de aorta </p></div>
                <div><p><i class="bi bi-circle-fill"></i> ECMO – Soporte circulatorio extra corpóreo </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cirugía mínimamente invasiva en 3D </p></div>
            </div>

            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">RESONANCIA MAGNÉTICA</span>
            </div>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/4.png" alt="">

            <br>
            <br>

            <p> Contamos con el único equipo más avanzado en la Región Surcolombiana en Resonancia Magnética de 1,5 teslas, MAGNETOM ESSENZA marca SIEMENS con última actualización de software disponible en el mercado. Se realizan diferentes estudios especiales con lectura de médicos especialistas.</p>
            <p>Ofrecemos en Resonancia los siguientes estudios especiales:</p>
            
            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Resonancia magnética en general </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Entero resonancia </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Resonancia tractográfica </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Tracto resonancia. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Resonancia de mama simple y contrastada (antena especializada) </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Resonancia fetal. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Uro resonancia. </p></div>
            </div>

            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">APLICACIONES:</span>
            </div>

            

            <p><b>Neuro:</b> Excelente calidad de imagen para aplicaciones estándar y avanzadas, locales y totales.</p>
            <p><b>Ortho:</b> Desde ligamentos hasta degeneración cartilaginosa Escaneo rápido y fácil en 2D ó 3D con alta resolución.</p>
            <p><b>Mama:</b> Integra fácilmente exámenes de mama incluyendo evaluación de implantes mamarios y monitorización terapéutica.</p>
            <p><b>Cardio:</b> Permite el diagnóstico de miocardiopatías hasta enfermedad isquémica cardíaca, enfermedades valvulares hasta enfermedades congénitas.</p>
            <p><b>Onco:</b> Proporciona a los servicios de oncología del estado de la técnica para la detección de tumores y puesta en escena de los cánceres de próstata e hígado.</p>
            <p><b>Pediátrico:</b> Excelente contraste y resolución con protocolos específicos para la edad y las técnicas de corrección ultrarrápidas y de movimiento.</p>
            <p><b>Angio:</b> Describe fácilmente enfermedades de los vasos con técnicas mejoradas con y sin contraste.</p>

            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">ECOGRAFÍA CONVENCIONAL</span>
            </div>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/ecogrf.jpg" alt="">

            <br>
            <br>

            <p> Es un procedimiento sencillo no invasivo en el que no se emplea radiación sino ultrasonido. </p>

            <p> Nuestra área de imagenologÍa cuenta con un ecógrafo Toshiba Xario de 7.5 Mhz.</p>

            <p> Ofrecemos ecografías convencionales:</p>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Mama </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Abdomen (total, superior) </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Hapatobiliar </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Pélvica transabdominal </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Transrectal de próstata </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cuello, tiroides o glándulas salivares </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Transfontanelar </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Articular </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Testicular </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Tejidos blandos </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Ranal y vías urinarias </p></div>
            </div>

            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">DOPPLER</span>
            </div>

            <p> Es un procedimiento sencillo no invasivo que no emplea radiación sino ultrasonido. </p>

            <p> Nuestra área de imagenología cuenta con un ecógrafo Toshiba Xario de 7.5 Mhz.</p>

            <p> Ofrecemos Doppler convencionales : </p>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Portal </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Hepático </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Renal o arteria renales </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Aorta o vasos abdominales </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Venoso de miembros (inferior o superior) </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Arterial (inferior o superior) </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Pene </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Testicular </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Carótida del Cuello </p></div>
            </div>

            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">ECOGRAFIAS OBSTÉTRICAS</span>
            </div>

            <p> Es un procedimiento sencillo no invasivo no emplea radiación sino ultrasonido. Nuestra área de Imagenología cuenta con un ecógrafo MINDRY de 7.5 Mhz. </p>

            <p> Ofrecemos ecografías de: </p>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Ecografías obstétrica transabdominales </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Ecografías obstétrica transvaginal </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Ecografías perfil biofísico </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Ecografías cervicometría </p></div>
            </div>

            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">ECOGRAFÍAS OBSTÉTRICAS PERINATOLOGÍA</span>
            </div>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Tamizaje genético semana 11-14 </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Detalle anatómico semana 20-28 </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Doppler fetoplacentario > 24 Semanas </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Doppler inserción placentaria </p></div>
            </div>

            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">RX</span>
            </div>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/rx.jpg" alt="">

            <br>
            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">Ofrecemos Radiografías de:</span>
            </div>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Tórax </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Abdomen </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Huesos largos </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Carpograma </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Articulaciones </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cráneo </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Pelvis </p></div>
                <div><p><i class="bi bi-circle-fill"></i> SPN </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Silla turca </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Malar </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Orbita </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Mandibular </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cuello </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cavun faríngeo. Columna (cervical, dorsal, lumbar, sacro) </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Reja costal </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Miembros superiores e inferiores </p></div>
            </div>
            
            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">RX ESPECIALES</span>
            </div>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">Ofrecemos Rayos X Especiales de:</span>
            </div>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Colon por enema. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cistografía </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Uretrografía </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Colangiografía </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Urografía </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Pielografía </p></div>
            </div>

        </div> 
    </div>
{% endblock %}