{% extends 'index.html' %}
{% block section %}
    <img style="width: 100%; height: auto;" src="static/fotos/fotos_inicio/laborat25.jpg" alt="">
    
    <br>
    <br>
    <br>

    <div class="titulosderechoDeberes d-flex justify-content-center" >
        <span style="color: #85868a; ">LABORATORIO CLÍNICO <span style="color: #8ac64b;">Y ESPECIALIZADO</span></span>
    </div>

    <div class="derechoDeberes row d-flex justify-content-center">
        <div class="col-md-10 col-sm-12 col-lg-10">
            <p>Clínica UROS S.A. cuenta con un Laboratorio Clínico sistematizado y de alta complejidad, con gran experiencia en nuestra área de influencia, basados en un liderazgo tecnológico y amplia cobertura empresarial en la ciudad.</p>
            <p>Posee un Laboratorio clínico con Coagulación Hematología de altos estándares de calidad y con la mejor tecnología de punta (química seca, tecnología POCT, PCR en tiempo real y un centro de transfusión automatizado). Contamos con equipo humano calificado, con entrenamiento en diferentes áreas.</p>
            
            <br>
            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">TOMOGRAFÍA DE ALTA COMPLEJIDAD</span>
            </div>
            
            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/laborat26.jpg" alt="">

            <br>
            <br>

            <p>Laboratorio Colcan, laboratorio Angel, laboratorio de Genética Dr. Ossa entre otros.</p>

            <p>Nuestros bancos de sangre aliados: Fundación Hematológica, San Rafael, Hemolife y Hospital Universitario de Neiva.</p>

            <p>Contamos con los equipos más avanzados marca VITROS 5600 con sistema integrado, 350 sistema de química, 3600 con sistema de inmunodiagnóstico entre otros, que permite tener resultados reales en muy poco tiempo, con la seguridad de tener un bacrup para todo los tipo de procesos.</p>

            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">125 Análisis VITROS® que cubren múltiples enfermedades</span>
            </div>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/laborat25.jpg" alt="">
            <br>
            <br>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Química </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Drogas terapéuticas </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Drogas de Abuso y Toxicología </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Proteínas </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cardiología </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Tiroides </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Endocrinología Reproductiva </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Metabólico </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Diabetes </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Anemia </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Oncología </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Enfermedades Infecciosas </p></div>
            </div>

            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">Nuestro laboratorio cuenta con todas las áreas:</span>
            </div>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/laborat24.jpg" alt="">
            <br>
            <br>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Área de centro transfusional al 100% sistematizado </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Área microbiológica con tecnología de punta automatizada </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Área química seca </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Área inmunológica </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Área de coagulación </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Área hematológica </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Área Uroanálisis </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Área Microscopia </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Área de pruebas especiales </p></div>
            </div>

            <p>Nuestro propósito es el de satisfacer las necesidades y expectativas de los usuarios relacionadas con la realización de exámenes analíticos de la más alta precisión y confiabilidad con equipos automatizados de acuerdo con los estándares diagnósticos contemporáneos.</p>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/laborat23.jpg" alt="">

            <br>
            <br>

            <p>Entrega de resultados el mismo día (vía fax o correo electrónico) en las pruebas que la técnica lo permita. Facturación detallada indicando nombre del paciente, fecha, exámenes realizados, sector o centro de costos y R.I.P.S en medio magnético.</p>
            <p>Contamos con una amplia sede para la toma de laboratorios ubicada en Calle 17ª N 6-13 dotada con 12 cubículos para toma de muestras y 7 puestos para facturación.</p>

        </div> 
    </div>
{% endblock %}