{% extends 'index.html' %}
{% block section %}

    <div class="container">
        
        <div class="row">
            <form class="col-lg-4 p-3 mx-auto my-auto formularioCita was-validated" id="frmLogin" name="frmLogin" action="/iniciarSesion" method="post">
                <div class="row mb-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tituloSer">
                            <span style="color: #8ac64b;">INICIAR <span style="color:#85868a;">SESIÓN</span></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 mb-3">
                        <input type="email" class="form-control rounded-pill" id="txtUsuario" name="txtUsuario" placeholder="Usuario" required>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                        <input type="password" class="form-control rounded-pill" id="txtPassword" name="txtPassword" placeholder="Password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    </div>
                </div>
            </form>
            <input id="txtRespuesta" name="txtRespuesta" type="hidden" value=" {% if tarea is defined %} {{mensaje}} {%endif%}">
            <div id="mensaje" style="text-align:center">
                {% if tarea is defined %}
                    {% if tarea %}
                        <script>
                            sweetAlert({
                                title:'Problemas!!',
                                text: $("#txtRespuesta").val(),
                                type:'warning'
                            },function(isConfirm){
                                window.location.href = '/citaLogin';
                            });
                        </script>
                    {%endif%}
                {%endif%}
            </div>
        </div>
    </div>
{% endblock %}