{% extends 'index.html' %}
{% block section %}
    
    

    <div class="derechoDeberes row d-flex justify-content-center">

        
        <div class="col-md-4 col-sm-12 col-lg-10">

            <br id="noticiaUna">
            <br>

            <div class="titulosderechoDeberes d-flex justify-content-center" >
                <span style="color: #85868a; ">¿CÓMO AUMENTAR LOS GLÓBULOS <span style="color: #8ac64b;">ROJOS NATURALMENTE?</span></span>
            </div>

            <br>
            <br>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/noti1.jpeg" alt="">
            
            <br>
            
            <br>

            <p>Los glóbulos rojos tienen una función muy importante en nuestro cuerpo: transportar sangre rica en oxígeno por todo el organismo mediante la hemoglobina. </p>
            <p>La falta de hierro y otros nutrientes es la causa más común de un conteo bajo de glóbulos rojos. Los niveles bajos de hemoglobina y un conteo bajo de glóbulos rojos son dos de los signos distintivos de desnutrición, deficiencias nutricionales y, en algunos casos, enfermedades perniciosas como la leucemia.</p>
            <p>A continuación, te damos unos consejos de alimentos naturales con el fin de aumentar la cantidad de glóbulos rojos en la circulación humana, en otras palabras, para mantener en nivel óptimo la hemoglobina. Básicamente, debemos ingerir tres grupos de alimentos: </p>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">Alimentos con hierro</span>
            </div>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Carnes magras (pavo, pollo o ternera). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Moluscos (mejillones, almejas y berberechos). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Legumbres (lentejas, frijoles, judías). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Verduras de hoja verde (espinacas, acelgas). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Crucíferas (coles, brócoli). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Huevos.</p></div>
                <div><p><i class="bi bi-circle-fill"></i> Frutos secos (almendras, nueces, uvas pasas). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Cereales integrales (avena, centeno) </p></div>
            </div>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">Alimentos con vitamina B12</span>
            </div>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Pescados azules (salmón, atún y sardina). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Lácteos desnatados (leche, queso, yogur). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Soja orgánica. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Champiñones y setas. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Germen de trigo. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Levadura de cerveza.</p></div>
            </div>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">Alimentos con ácido fólico</span>
            </div>

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Legumbres (garbanzos, frijoles, habichuelas). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Verduras de color verde (lechuga, col de Bruselas, rúcula, calabacín). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Espárragos. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Frutas cítricas (naranja, limón, toronja). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Frutas con vitamina C (fresas, kiwis). </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Aguacate. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Panes y cereales integrales fortificados. </p></div>
            </div>


            <br id="noticiaDos">
            <br>

            <div class="titulosderechoDeberes d-flex justify-content-center" >
                <span style="color: #85868a; ">DECÁLOGO DE UNA <span style="color: #8ac64b;">ALIMENTACIÓN SALUDABLE</span></span>
            </div>

            <br>
            <br>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/noti2.jpeg" alt="">
            
            <br>
            
            <br>

            <p>La Alimentación es el proceso mediante el cual tomamos del exterior una serie de sustancias que son necesarias para la nutrición. Los expertos afirman que no existen alimentos “malos”, sino dietas “poco sanas”. </p>
            <p>Una dieta saludable se consigue comiendo la cantidad correcta de alimentos en la proporción adecuada. Para ello es importante que tengan en cuenta los siguientes factores: </p>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">1. Mantenerse en el peso ideal.</span>
            </div>

            <p>Todos debemos conocer cuál es nuestro peso ideal, y procurar mantenernos lo más próximo a ese peso. Para ello, debemos tener en cuenta nuestro índice de masa corporal (IMC) e intentar no desviarnos demasiado de nuestro del índice óptimo que corresponde a cada uno de nosotros.</p>
            <p>El Índice de Masa Corporal se utiliza para definir el estado ponderal de la persona, y se calcula a partir de la fórmula: peso(kg) / talla(m)2. Se considera sobrepeso un IMC entre 25 y 30, y obesidad cuando el IMC es igual o superior a 30. Ej: Una persona que pese 90 kg y mida 1,80 tendrá un IMC de 27,7 y otra que pese 70 kg y mida 1,80 tendrá un IMC de 21,6.</p>
            <p>Debemos tratar de conseguir un equilibrio entre las calorías que tomamos y las que gastamos. Si consumimos más calorías de las que necesitamos, aumentaremos de peso y el sobrepeso no es bueno para la salud.</p>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">2. Aceite de oliva como grasa principal</span>
            </div>

            <p>El aceite de oliva, constituyente básico de la dieta mediterránea, debe continuar siendo la grasa culinaria fundamental de la dieta, ya que además de aportarnos grasa de origen principalmente monoinsaturado, nos proporciona vitaminas y antioxidantes que previenen el desarrollo de la enfermedad cardiovascular.</p>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">3. Lácteos desnatados</span>
            </div>

            <p>Los lácteos desnatados son saludables porque aportan proteínas de alto valor biológico y minerales como el calcio, evitando las grasas saturadas y el colesterol que contiene la leche entera.</p>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">4. Evitar la grasa saturada</span>
            </div>

            <p>La comida industrial, los embutidos en general (excepto los de pavo, pollo y algunas variantes bajas en grasa), la comida rápida, los lácteos enteros y sus derivados son alimentos que contienen grasas saturadas en gran cantidad. Las grasas saturadas son el factor de la dieta que más aumenta el colesterol en sangre, por lo que este tipo de alimentos deben evitarse o tomarlos de forma excepcional.</p>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">5. Comer más frutas, verduras y hortalizas</span>
            </div>

            <p>Los nutrientes, vitaminas y antioxidantes presentes en las frutas y verduras, sobre todo crudas, ayudan a protegernos frente a numerosas enfermedades, como la enfermedad cardiovascular y algunos tipos de cáncer</p>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">6. Comer más cereales integrales y legumbres</span>
            </div>

            <p>Los cereales integrales contienen más fibra que los refinados y además aportan mayor cantidad de vitaminas y minerales. Las legumbres también son muy ricas en vitaminas y minerales, hidratos de carbono complejos y fibra. Esta fibra “atrapa” parte del colesterol que ingerimos por la dieta, impidiendo así su absorción en el intestino. </p>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">7. Mejor carne de ave y pescado</span>
            </div>

            <p>Debemos procurar consumir mayor proporción de carnes de aves, conejo y pescado tanto blanco como azul, ya que estos alimentos poseen un menor contenido en grasas saturadas y colesterol si los comparamos con las carnes rojas y los embutidos. </p>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">8. Hasta 3-4 huevos enteros por semana</span>
            </div>

            <p>Al contrario de lo que siempre se ha pensado, el consumo de huevos no está ligado a un aumento importante del colesterol sanguíneo. La clara del huevo no contiene colesterol por lo que no hay limitaciones en su consumo. En cuanto a la yema, si bien es cierto que tiene colesterol, su contenido en ácidos grasos monoinsaturados y ácidos grasos poliinsaturados como los omega-3 beneficiosos para la salud, supera ampliamente al de grasa saturada. </p>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">9. Evitar el excesivo consumo de sal y azúcar.</span>
            </div>

            <p>Debemos conocer qué alimentos y bebidas contienen sal o azúcar ocultos ayudándonos del etiquetado nutricional. El exceso de sal o de sodio, así como el exceso de azúcar refinado, no es saludable.</p>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">10. Realizar ejercicio físico todos los días.</span>
            </div>

            <p>La actividad física beneficia a nuestra salud física y mental. No debemos olvidar que realizar 30 minutos de ejercicio aeróbico moderado al día, no solo hará que gastemos calorías, sino que también nos ayudará a prevenir la enfermedad cardiovascular.</p>

            <br id="noticiaTres">
            <br>

            <div class="titulosderechoDeberes d-flex justify-content-center" >
                <span style="color: #85868a; ">TIP’S PARA EVITAR EL INSOMNIO <span style="color: #8ac64b;">DURANTE LA PANDEMIA DE COVID19</span></span>
            </div>

            <br>
            <br>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/noti3.jpeg" alt="">
            
            <br>
            
            <br>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">¿El cambio de rutina y el temor ante la enfermedad que produce el coronavirus te están quitando el sueño?</span>
            </div>

            <p>El insomnio es el trastorno de sueño más frecuente en la población general. Consiste en una reducción de la capacidad para dormir, pudiendo manifestarse de diversos modos que dan lugar a diferentes tipos de insomnio:</p>
            <p>Insomnio de inicio: problemas para iniciar el sueño en menos de 30 minutos.</p>
            <p>Insomnio de mantenimiento: Problemas para mantener el sueño, produciéndose despertares nocturnos de más de 30 minutos de duración, o despertando definitivamente de manera precoz consiguiendo un tiempo total de sueño escaso</p>
            <p>El insomnio no es una enfermedad mortal, sin embargo, nos va quitando calidad de vida, ya que el sueño es necesario para mantener un sistema inmune fuerte. </p>
            <p>El número de horas de sueño necesarias varía de unas personas a otras. Aunque la media diaria es de 7 horas y media, existe un rango que oscila entre 4 (“poco dormidores”) a 10 horas (“grandes dormidores”), considerándose estos valores dentro de la normalidad.</p>
            <p>Si por en época de la pandemia de COVID19, que afronta el mundo, haz comenzado a sufrir de insomnio, te brindamos algunos consejos para hacerle frente a este trastorno. </p>
            

            <div style="padding-left: 4%; padding-right: 4%;">
                <div><p><i class="bi bi-circle-fill"></i> Acuéstate temprano. Aunque la gente piense que dormir más es la meta, tratar de mantener nuestro reloj en tiempo y regularlo es realmente importante relajarse y ordenarte ir a dormir.  </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Evita las cenas pesadas, el uso de celulares al acostarte, mantén la temperatura adecuada en el cuarto y lee algún libro o medita. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Evita quedarte durmiendo hasta tarde en la mañana, quedarse en cama más tiempo de lo habitual no es propicio para un ciclo saludable de sueño-vigilia. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Mantén una rutina constante de sueño-vigilia. Se ha demostrado que mantener un horario regular para acostarse y despertarse ayuda a estabilizar los patrones de sueño, una necesidad para evitar la ansiedad. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> No uses alcohol para conciliar el sueño, puede tener consecuencias negativas a largo plazo, como la fragmentación del sueño, los despertares matutinos y las deficiencias diurnas. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Saca el trabajo de la habitación. Configura una estación de trabajo separada en tu hogar y mantén el trabajo y el sueño separados. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Mantente físicamente activo. Puedes usar videos de ejercicios en línea o haz una caminata diaria en un espacio limitado. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Planifica tu día. Trata de mantener las cosas como estaban antes de la amenaza de COVID-19. Vístete, conéctate con amigos, familia y vecinos por texto, Facebook, WhatsApp o por ZOOM. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Limita el consumo desmedido de noticias en torno al tema, especialmente justo antes de acostarte. </p></div>
            </div>

        </div> 
    </div>
{% endblock %}