{% extends 'index.html' %}
{% block section %}
    <div class="containerUnoHistoria">
        <div class="containerInicioDos">
            <div class="row no-gutters">
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="titulosHistoria">
                        <span style="color: #85868a;">CLÍNICA <span style="color: #8ac64b;">UROS</span></span>
                    </div>
                        <p>Clínica UROS S.A es una empresa privada que presta Servicios de Salud
                        a la comunidad Surcolombiana de Mediana y Alta complejidad, en los
                        niveles (3) y (4), garantizando la prestación integral en las
                        diferentes áreas y especialidades de manera oportuna y segura, con
                        respeto, equidad y humanización en el servicio, buscando mejorar
                        la calidad de vida de nuestros pacientes y sus familias.</p>
                </div>    
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <iframe width="100%" height="298" src="https://www.youtube.com/embed/-L8lCWh-tIg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="titulosHistoria">
            <span style="color: #85868a;">RESEÑA HISTÓRICA <span style="color: #8ac64b;">CLÍNICA UROS</span></span>
        </div>

        <div class="nuestraHistoria">
            <p>
                Desde sus inicios el 28 de febrero de 2001, cuando uno de sus fundadores ejercía con la especialidad de urología, ve en su labor diaria la oportunidad de crear una clínica que preste servicios de salud de baja, mediana y alta complejidad con el propósito de brindar un servicio social integro con la mejor innovación tecnológica, eficiencia, calidad y calidez humana.
                <br>
                <br>
                En el año 2003 atendiendo a las necesidades en salud del Departamento del Huila, se crea la Clínica UROS S.A. Ubicada en la carrera 6 No 16-35 de la ciudad de Neiva, en el mercado de la salud como una de las empresas con gran capacidad y vocación humana en la prestación de servicios de salud.
                <br>
                <br>
                Desde el 2006, la clínica UROS ha puesto al servicio de todas las personas, la más alta calidad ética, humana, científica y tecnológica, respondiendo a su misión institucional y ofreciendo servicios integrales en las áreas de Urgencias, Consulta Externa, Consulta Médica Especializada, Hospitalización, Laboratorio Clínico, Uci Neonatal, Pediátrica y Adultos, Imágenes Diagnósticas: (Resonancia Magnética, Tomógrafo) nuestras amplias Salas de Cirugía: Hemodinamia, Servicio de Hospitalización Domiciliaria y Programas de Promoción y Prevención y Plan Canguro.
            </p>
        </div>

        <div class="containerDosHistoria">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="titulosHistoria d-flex justify-content-center">
                        <span style="color: #8ac64b;">SERVIMOS CON <span style="color:#85868a;">EL ALMA</span></span>
                    </div>
                    <p>“Nuestro Slogan “Servimos con el Alma”, hace referencia a no perder la oportunidad de marcar una huella positiva en cada una de las personas con la que tenemos contacto como prestadores de servicios de salud, a ser capaces de ponernos en el lugar del otro para entender sus necesidades y asumirlas como si fueran propias, a servir honestamente entregando el corazón por una causa que siendo de otra persona la asumimos como nuestra.</p>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="titulosHistoria d-flex justify-content-center">
                        <span style="color: #8ac64b;">PLATAFORMA <span style="color:#85868a;">ESTRATÉGICA</span></span>
                    </div>
                    <div class="card text-center">
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills justify-content-center">
                                <li class="nav-item border">
                                <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#mision" aria-expanded="true" aria-controls="TA">MISIÓN</a>
                                </li>
                                <li class="nav-item border mx-4">
                                <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#vision" aria-expanded="true" aria-controls="TB">VISIÓN</a>
                                </li>
                                <li class="nav-item border">
                                <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#valores" aria-expanded="true" aria-controls="TC">VALORES CORPORATIVOS</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <div id="mision" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row aling-items-center py-3 no-gutters">
                                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                                    <p>Somos una institución prestadora de servicios de salud de mediana y alta complejidad, que brinda una atención integral a nuestros usuarios con alta calidad científica de la mano de la más alta calidez humana.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div id="vision" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row aling-items-center py-3 no-gutters">
                                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                                    <p>En el año 2024 nuestra Clínica Uros será reconocida como la institución privada hospitalaria de más alta complejidad de la región Surcolombiana, destacándose por su avance e innovación tecnológica y la calidez y excelencia en la prestación de servicios de salud, convirtiéndose en una de las instituciones médicas con mayor proyección en el país, con solidez financiera y enfocada en su propósito de servicio social y eficiencia, a través del mejoramiento continuo de sus procesos.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div id="valores" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row aling-items-center py-3 no-gutters">
                                                <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                                    <ul>
                                                        <li aria-current="true">Respeto</li>
                                                        <li>Compromiso</li>
                                                        <li>Responsabilidad</li>
                                                        <li>Disciplina</li>
                                                        <li>Lealtad</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}