{% extends 'index.html' %}
{% block section %}
    <img style="width: 100%; height: auto;" src="static/fotos/fotos_inicio/ambulancia.jpg" alt="">
    
    <br id="clinicaH">
    <br id="ambulanciaB">
    <br>

    <div class="titulosderechoDeberes d-flex justify-content-center" >
        <span style="color: #85868a; ">OTROS <span style="color: #8ac64b;">SERVICIOS</span></span>
    </div>

    <div class="derechoDeberes row d-flex justify-content-center">
        <div class="col-md-10 col-sm-12 col-lg-10">
            <br>
            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">CLÍNICA DE HERIDAS</span>
            </div>

            <p>Comprometidos en brindar servicios de salud integral, Clínica Uros S.A. incorpora dentro de su portafolio, los servicios de Clínica de Heridas con procesos de atención de salud ambulatorios basados en principios científicos, humanísticos y éticos fundamentados en el respeto por la vida y la dignidad humana, con un equipo interdisciplinario altamente calificado y especializado en el manejo y cuidado avanzado de heridas.</p>
            
            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">SERVICIO DE AMBULANCIA BÁSICA Y MEDICALIZADA</span>
            </div>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">AMBULANCIA BÁSICA</span>
            </div>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/ambulancia.jpg" alt="">

            <br>
            <br>

            <p>La ambulancia básica de Clínica Uros cuenta con tecnología de punta de nivel de complejidad bajo e Intermedio y una excelente capacidad de respuesta en situaciones de baja y mediana complejidad para atención en sitio o traslado de pacientes.</p>

            <div style="padding-left: 6%; padding-right: 6%;">
                <div><p><i class="bi bi-circle-fill"></i> Equipo de Reanimación básica. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Equipo básico de transporte. </p></div>
                <div id="ambulanciaM"><p><i class="bi bi-circle-fill"></i> Monitor básico de signos vitales permite monitorizar la pulsioximetría, electrocardiografía, presión no invasiva y la temperatura del paciente con Glucómetro. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Succionador </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Equipos biomédicos básicos: Tensiómetro, fonendoscopio, equipo de órganos de los sentidos </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Oxígeno central y en balas portátiles. </p></div>
            </div>

            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #85868a;">AMBULANCIA MEDICALIZADA</span>
            </div>

            <img style="width: 100%; height: auto; padding-left: 10%; padding-right: 10%;" src="static/fotos/fotos_inicio/medicalizada.jpg" alt="">

            <br>
            <br>

            <p>En la Unidad de Cuidados Intensivos Pediátrica se atienden a los niños que, debido a la gravedad de su enfermedad o el tipo de control médico requerido, deben tener un cuidado médico especializado de manera permanente. Esta unidad se encuentra ubicada en el segundo piso de la clínica Uros y consta de:cuenta con tecnología de punta de nivel Intermedio y una excelente capacidad de respuesta en situaciones de alta complejidad, extrema gravedad y urgencia para atención en sitio o traslado de pacientes.</p>

            <div style="padding-left: 6%; padding-right: 6%;">
                <div><p><i class="bi bi-circle-fill"></i> Monitor multi parámetros de signo vitales con capnografías </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Desfibrilador pediátrico y adulto </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Capnógrafo </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Equipo de cirugía básico. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Monitor multi parámetro. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Respirador de volumen. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Equipo de Reanimación básica y avanzada. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Equipos biomédicos básicos: Tensiómetro, fonendoscopio, equipo de órganos de los sentidos. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Oxígeno central y en balas portátiles. </p></div>
                <div><p><i class="bi bi-circle-fill"></i> Equipo de inmovilización, en caso de traumas severos. </p></div>
            </div>
            
        </div> 
    </div>
{% endblock %}