{% extends 'index.html' %}
{% block section %}
    <div class="derechoDeberes row">
        <img src="static/fotos/fotos_inicio/programaAngel.jpeg" alt="">
        <div class="col-md-4 col-sm-12 col-lg-12">
            <div class="titulosderechoDeberes">
                <br>
                <span style="color: #85868a;">PROGRAMA <span style="color: #8ac64b;">ÁNGEL UROS</span></span>
            </div>
                <p>Pensando en innovar a través de estrategias que permitan ofrecer una atención diferencial para aquellos usuarios que acuden a sistemas complementarios de salud  buscando un trato más cálido, agradable y oportuno, a través de un grupo de expertos, Clínica Uros diseñó una novedosa estrategia llegando de esta manera con un verdadero servicio de calidad para los distintos usuarios afiliados a planes de Medicina prepagada, beneficiarios de pólizas de salud y regímenes especiales.</p>
        </div>    
    </div>
{% endblock %}