{% extends 'index.html' %}
{% block section %}
<img style="width: 100%;" src="static/fotos/fotos_inicio/sala1.jpeg" alt="">
<div class="containerDosHistoria">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-12">
            <div class="titulosHistoria d-flex justify-content-center">
                <span style="color: #8ac64b;">SERVICIO <span style="color:#85868a;">DE CIRUGÍA</span></span>
            </div>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills justify-content-center">
                        <li class="nav-item border">
                        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#mision" aria-expanded="true" aria-controls="TA">UNIDAD DE CIRUGÍA</a>
                        </li>
                        <li class="nav-item border mx-4">
                        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#vision" aria-expanded="true" aria-controls="TB">MICROSCOPIO QUIRÚRGICO</a>
                        </li>
                        <li class="nav-item border">
                        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#valores" aria-expanded="true" aria-controls="TC">ORTOPEDIA Y ARTROSCOPIA</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <div id="mision" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="derechoDeberes row ">
                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                            <p>Contamos con 4 Quirófanos de alta complejidad dotados con la más alta tecnología, acompañados del mejor recurso humano. Una extensa sala de recuperación, con monitoreo cardiopulmonar no invasivo e invasivo, rayos X y Ecógrafo Portátil, equipo para cirugías laparoscópicas, intensificador de imágenes (Arco en C) y orientación e información al paciente y su familia. Ofrecemos servicio de esterilización, además contamos con el único Microscopio Quirúrgico en el departamento, dotado de la mejor tecnología para realizar procedimientos de alta complejidad.</p>
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-lg-6" >
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía general </p></div>
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía ginecológica </p></div>
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía maxilofacial </p></div>
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía neurológica </p></div>
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía pediátrica </p></div>
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía plástica y estética </p></div>
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía vascular y angiológica </p></div>
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía urológica </p></div>
                                        </div>  
                                        <div class="col-md-4 col-sm-12 col-lg-6">
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía de mano </p></div>
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía de mama </p></div>
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía tumores y tejidos blandos </p></div>
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía de tórax </p></div>
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía gastrointestinal </p></div>
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía laparoscópica </p></div>    
                                            <div><p><i class="bi bi-check2-square"></i> Cirugía gineco-oncológica </p></div>      
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div id="vision" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="derechoDeberes row aling-items-center py-3 no-gutters" >
                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                            <img style="width: 80%; height: 500px;" src="static/fotos/fotos_inicio/sala2.jpg" alt="">
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-12 col-lg-12">
                                            <br>
                                            <div><p><i class="bi bi-circle-fill"></i> Ideal para aplicaciones en neurocirugía, otorrinolaringología, cirugía plástica cirugía de mano y cirugía de cabeza y cuello. </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Configuración individual adecuada  exactamente a sus necesidades para cada especialidad </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Impresionante calidad óptica de imágenes. </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Extraordinaria movilidad y precisión. </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Balance intuitivo. </p></div>     
                                            <div><p><i class="bi bi-circle-fill"></i> Altamente económico debido a su diseño modular. </p></div>
                                        </div>   
                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center" style="padding-left: 9%; padding-right: 9%;">
                                            <p>El microscopio quirúrgico  MARCA HAGG STREIT MODELO HS 3-1000 hace posible que los cirujanos de especialidades tan diversas como la otorrinolaringología, la cirugía plástica y la neurología, realicen procedimientos complejos en estructuras delicadas. </p>
                                        </div> 
                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                            <img style="width: 80%; height: 500px;" src="static/fotos/fotos_inicio/sala3.jpg" alt="">
                                        </div>

                                        <div class="col-md-4 col-sm-12 col-lg-12">
                                            <br>
                                            <div><p><i class="bi bi-circle-fill"></i> Cuenta con Tecnologías SensoServo Drive y Senso Grip enlazadas entre el brazo y el cabezal del microscopio lo cual permite que el equipo se anticipe a los movimientos del cirujano y facilite el movimiento con el mínimo esfuerzo. </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Óptica apocromática. Estéreo Base de 25 mm, permiten la mejor calidad de imagen y en 3D con diafragma de iris con dos posiciones para profundidad de campo. Frenos Electromagnéticos. </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Objetivo para una distancia de trabajo variable (enfoque motorizado) desde 224 hasta 510 mm sin la necesidad de cambiar objetivos. Con opción alterna desde 200 hasta 450 mm. </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Capacidad de carga de 15 kg. a 22 kg </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Amortiguación innovadora con poca vibración </p></div>     
                                            <div><p><i class="bi bi-circle-fill"></i> Balanceo automático con ajuste fino individual </p></div>
                                        </div>  
                                        
                                        <div class="col-md-12 col-sm-12 col-lg-12" style="padding-left: 10%; padding-right: 10%;">
                                            <p style="padding-bottom: 0;">Clínica Uros cuenta con este equipo en diversas especialidades: </p>
                                            <p style="color: #8ac64b; padding-top: 0; padding-bottom: 0;">Ortopedia, Otorrinolaringología, Cirugía plástica y  cirugía  de mano: </p>
                                            <p class="tituloH3" style="color: rgba(0, 0, 0, 0.808); padding-top: 0; padding-bottom: 0;">Cirugía Microquirúrgica y Reconstructiva</p>
                                        </div> 

                                        <div class="col-md-4 col-sm-12 col-lg-12">
                                            <div><p><i class="bi bi-circle-fill"></i> Reparaciones primarias y secuencias de lesiones del plexo braquial. </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Colgajos microquirúrgico en cirugía reconstructiva avanzada. </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Revascularizaciones óseas locales y a distancia </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Reimplantes y revascularizaciones de extremidades. </p></div>
                                        </div>  

                                        <div class="col-md-12 col-sm-12 col-lg-12" style="padding-left: 10%; padding-right: 10%;">
                                            <p class="tituloH3" style="color: rgba(0, 0, 0, 0.808); padding-top: 0; padding-bottom: 0;">Cirugías de cabeza y cuello</p>
                                        </div> 

                                        <div class="col-md-4 col-sm-12 col-lg-12">
                                            <div><p><i class="bi bi-circle-fill"></i> Anastomosis microvascular </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Anastomosis y reconstrucción de nervio facial </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Resección de lesiones de laringe. </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Colgajos libre  </p></div>
                                        </div> 

                                        <div class="col-md-12 col-sm-12 col-lg-12" style="padding-left: 10%; padding-right: 10%;">
                                            <p class="tituloH3" style="color: rgba(0, 0, 0, 0.808); padding-top: 0; padding-bottom: 0;">Otorrinolaringología</p>
                                        </div> 

                                        <div class="col-md-4 col-sm-12 col-lg-12">
                                            <div><p><i class="bi bi-circle-fill"></i> Timpanoplastia tipo I-II </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Miringosentesis </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> radical y mastoidectomia modificada </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Implante coclear  </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Miringoplastia con reemplazo de cadena ósea </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Descomprensión del nervio facial </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Amigdalectomia  </p></div>
                                        </div> 

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div id="valores" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="derechoDeberes row aling-items-center py-3 no-gutters" >
                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                                            <img style="width: 80%; height: 500px;" src="static/fotos/fotos_inicio/sala4.jpg" alt="">
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-lg-12" style="padding-left: 9%; padding-right: 10%;">
                                            <p class="tituloH3" style="color: rgba(0, 0, 0, 0.808);  padding-bottom: 0;">Shaver Marca Stryker Modelo Crossfire 2.</p>
                                        </div> 

                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center" style="padding-left: 9%; padding-right: 10%;">
                                            <p style="padding-top: 0; padding-bottom: 0;">Plataforma artroscópica integrada crossFire 2, ofrece una revolucionaria capacidad de resección en una solución completa de artroscopia, proporcionando a los cirujanos la capacidad de operar la afeitadora y la funcionalidad de RF en una sola consola. </p>
                                        </div> 
                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center" style="padding-left: 9%; padding-right: 10%;">
                                            <p style="padding-top: 0; padding-bottom: 0;">La artroscopia presenta numerosas ventajas frente a la cirugía abierta, especialmente en los procedimientos relacionados con la rodilla, garantizando un excelente  tratamiento del paciente y su recuperación. </p>
                                        </div> 
                                        <div class="col-md-12 col-sm-12 col-lg-12" style="padding-left: 9%; padding-right: 10%;">
                                            <p style="padding-top: 0; padding-bottom: 0;">Al ser una cirugía con pequeñas incisiones alrededor de la articulación, reduce enormemente </p>
                                        </div> 

                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center" style="padding-left: 9%; padding-right: 10%;">
                                            <p style="padding-top: 0; padding-bottom: 0;">la cantidad de tejidos afectados, lo que tiene como respuesta una inflamación mucho menor de la articulación y una recuperación mucho más rápida en el paciente, quien puede volver a realizar sus actividades cotidianas casi inmediatamente </p>
                                        </div> 
                                        <div class="col-md-12 col-sm-12 col-lg-12" style="padding-left: 9%; padding-right: 10%;">
                                            <p style="padding-top: 0; padding-bottom: 0;">(dependiendo del tipo de actividad laboral que realice, puede ser necesario un reposo de una o dos semanas). </p>
                                        </div> 
                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center" style="padding-left: 9%; padding-right: 10%;">
                                            <p style="padding-top: 0; padding-bottom: 0;">Por otra parte, en la cirugía artroscópica se reducen enormemente las complicaciones que pueden presentarse en cirugías abiertas. Además de las complicaciones durante la cirugía, como pueden ser los coágulos o las hemorragias, se reducen también las relacionadas con la recuperación, al generar cicatrices mucho más pequeñas que tienen un riesgo de infección mucho menor, y que dejan un mejor resultado estético.</p>
                                        </div> 
                                        
                                        <div class="col-md-12 col-sm-12 col-lg-12" style="padding-left: 9%; padding-right: 10%;">
                                            <p class="tituloH3" style="color: rgba(0, 0, 0, 0.884); padding-top: 0; padding-bottom: 0;">Artroscopia de hombro y Rodilla;</p>
                                        </div> 

                                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center" style="padding-left: 9%; padding-right: 10%;">
                                            <p style="padding-top: 0; padding-bottom: 0;">Hombro sinovectomía total o parcial, descomprensión subacromial por acromioplastia, tratamiento de artrosis acromioclavicular, resección de extremo distal de la clavícula, tratamiento de inestabilidad del hombro anterior, posterior, multidireccional, reparación de lecciones completas o parciales, tratamientos de tendinitis o rupturas tendinosas del bíceps con tenodesis, bursectomía parcial y total, artroscopia diagnóstica del hombro, tratamiento de artritis séptica con lavado articular más desbridamiento.</p>
                                        </div> 
                                        <div class="col-md-12 col-sm-12 col-lg-12" style="padding-left: 9%; padding-right: 10%;">
                                            <p style="padding-top: 0; padding-bottom: 0;">También se utiliza en patologías intra articular;</p>
                                        </div> 
                                        
                                        <div class="col-md-4 col-sm-12 col-lg-12">
                                            <div><p><i class="bi bi-circle-fill"></i> Roturas meniscales </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Lesiones de los ligamentos </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Lesiones de cartílago </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Cuerpos libres </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Alteraciones del centraje de la rótula </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Sinovitis </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Fracturas </p></div>
                                            <div><p><i class="bi bi-circle-fill"></i> Infecciones </p></div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}