{% extends 'index.html' %}
{% block section %}
    <img style="width: 100%; height: auto;" src="static/fotos/fotos_inicio/urgencia1.jpeg" alt="">

    <br>
    <br>
    <div class="derechoDeberes row">
        <div class="col-md-12 col-sm-12 col-lg-7">
            <div class="titulosderechoDeberes d-flex justify-content-center" >
                <span style="color: #85868a; ">URG<span style="color: #8ac64b;">ENCIAS </span></span>
            </div>
            <p>Ofrecemos total atención en urgencias con dos áreas completamente dotadas; una de ellas exclusiva para usuarios de medicina prepagada y pólizas de salud. Esto se suma al personal médico y asistencial que está altamente preparado para una respuesta inmediata al momento de salvaguardar la vida de nuestros pacientes.</p>
            <p>Además contamos con una completa infraestructura hospitalaria para la recepción de nuestros pacientes:</p>

            <div><p><i class="bi bi-check2-square"></i> Un Consultorio de atención TRIAGE. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Área de trauma. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Tres (3) consultorios completamente dotados. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Confortable sala de espera. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Admisionista y facturador. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Sala de procedimientos. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Sala de reanimación. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Camas/camillas de observación </p></div>
            <div><p><i class="bi bi-check2-square"></i> Cunas y/o camillas pediátricas. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Toma de muestras. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Área para terapia respiratoria y micro nebulizaciones. </p></div>
            <div><p><i class="bi bi-check2-square"></i> Presencialidad de especialidades como: Ortopedia, Medicina Interna, Cirugía General, Pediatría, entre otras. </p></div>
            <br>
            <div class="tituloH3" style="text-align: left; padding-left: 10%; padding-right: 10%;">
                <span style="color: #8ac64be3;">URGENCIAS VIP</span>
            </div>
            <p> Con el objetivo de brindar una atención diferenciadora y exclusiva, se ha acondicionado una zona VIP de la unidad de urgencias para pacientes de medicina prepagada y régimen especial, un área equipada con dotación hospitalaria moderna, confortable y de última tecnología para brindar a los pacientes una experiencia placentera.</p>

        
        </div> 

        <div class="col-md-12 col-sm-12 col-lg-5 d-flex justify-content-center">
            
            <div class="menu" style="width: 100%; font-size: 13px;">
                <div class="nav-item dropdown">
                    <a class="nav-link active"><img src="static/fotos/fotos_inicio/servicios1.png" alt=""></a>
                    <div class="dropdown-content" style="left: 150px; margin-top: -35px;">
                        <a class="nav-link" href="/salaCirugia">UNIDAD DE CIRUGÍA</a>
                        <a class="nav-link" href="/neuroCirugia">UNIDAD DE NEUROCIRUGÍA</a>
                        <a class="nav-link" href="/hospitalizacionGeneral">HOSPITALIZACIÓN GENERAL</a>
                        <a class="nav-link" href="/urgencia">URGENCIAS</a>
                        <a class="nav-link" href="/hemodinamia">UNIDAD DE HEMODINAMIA</a>
                        <a class="nav-link" href="/ginecologia">UNIDAD DE GINECOLOGÍA Y OBSTETRICIA</a>
                        <a class="nav-link" href="/cardiologia">UNIDAD DE CARDIOLOGÍA</a>
                        <a class="nav-link" href="/hospiCasa">PROGRAMA HOSPITALIZACIÓN EN CASA</a>
                        <a class="nav-link" href="/gastroenterologia">UNIDAD DE GASTROENTEROLOGÍA</a>
                        <a class="nav-link" href="#">LABORATORIO CLÍNICO Y ESPECIALIZADO</a>
                        <a class="nav-link" href="#">UNIDAD DE IMAGENOLOGÍA Y RESONANCIA</a>
                        <a class="nav-link" href="#">OTROS SERVICIOS</a>
                        <a class="nav-link" href="#">UNIDAD DE CUIDADOS INTENSIVOS</a>
                        <a class="nav-link" href="/consultaExterna">CONSULTA EXTERNA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}